{% extends "layout.html" %}
{% set active_page = "design_panel" %}
{% set terms_accepted = terms_accepted or False %}
{% block head %}
<style>
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
    width:  180px;
}
.popover{
    width:400px;
}
</style>

{% endblock %}

{% block loader %}
    <div class="loader"></div>
{% endblock %}

{% block content %}
<div class="container-fluid">
            <a class="navbar-box-blue" id="tour_button" style="cursor: pointer;position: absolute;
    right: 120px;top: 50px;">View tour <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>

            <form id="designform" action="results_reports" method="POST" style="padding-left:20px;" enctype="multipart/form-data">
            <div class="row" id="wholeform"  style="font-size:16px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">

                     {%if warning_tumortype=='on'%}
                         <br />
                        <p class="alert alert-warning" style="padding-left:20px;">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                         <strong>You must select a cancer type</strong>
                         <br />Tip: If you want to see and example select one of the suggested multi-cancer type groups.<br />
                         </p>
                     {% elif warning_user_cohort == 'on' %}
                        <br /><p class="alert alert-warning" style="padding-left:20px;">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                         <strong>You have selected a customized panel with your own tumor cohort but data is missing</strong>
                         <br />Tip: Ensure that you have selected the tumor cohort cancer type(s) and uploaded the cohort file.<br />
                         </p>
                     {% elif warning_genes !='off' %}
                        <br /><p class="alert alert-warning" style="padding-left:20px;">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                         <strong>There are not {{warning_genes}} genes in the tumor type you selected</strong>
                         <br />Tip: Try to include all genes and look if they have any actionability options less restrictive. <br />
                         </p>
                    {% elif warning_user_gene_list_missing =='on' %}
                        <br /><p class="alert alert-warning" style="padding-left:20px;">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                         <strong>You have selected a customized panel with your own gene list but no genes were provided</strong>
                         <br />Tip: If you have written a gene list click on <i>Validate</i> to check gene symbols and add them as panel candidates <br />
                         <br />Tip: To upload your gene list click on <i>Upload gene list</i> located below the option you have selected. </i> <br />
                         </p>
                    {% elif warning_user_genes =='on' %}
                        <br /><div class="alert alert-warning" style="padding-left:20px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <strong>Any of the genes that you have provided are mutated in the selected cancer type(s).</strong>
                            <br />
                            Tips to ensure your gene symbols were recognized:
                            <p>If you have written the gene symbols in the box make sure you validated at least some of the gene symbols.</p>
                            <p>If you have uploaded your own gene list as a file:</p>
                            <ul>
                             <li>Try to download the example file to ensure you used the correct format.</li>
                             <li>Try to validate some of the gene symbols in your list by writing the gene symbols in the <i>Text box</i> to ensure they could be recognized.</li>
                            </ul>
                            If gene symbols were recognized, user can be sure that the genes were not bearing protein affecting mutations in the cancer type(s) selected.
                     </div>
                     {% endif %}

                    <br />
                    <div class="panel panel-design" style="padding-left:15px;">
                        <div class="row">
                            <div class="col-md-12" style="padding-right:30px;">
                                <br />
                                <div class="form-group" style="width:40%;">
                                    <div class="input-group">
                                      <div class="input-group-addon" id='naming_panel' style="color:#000000;background-color: #213980;color: #ffffff;font-size: 18px;">Panel name</div>
                                      <input type="text" class="form-control" name="panel_name" placeholder="My panel (default) ">
                                    </div>
                                </div>
                                <br />
                                <p style="line-height:30px;padding-right:30px;font-size:18px;background-color:#213980;color:#ffffff;"><span style="padding-left:10px;">Select cancer type cohort</span></p>
                                <div id="cancer_type_details" style="padding-left:20px;">
                                    <br />
                                    {% set cancer_type_color = {
                                        'Haematological malignancies': {'color':'#B00410', 'acronym':'H'},
                                        'Central Nervous System malignancies': {'color':'#357D25','acronym':'CNS'},
                                        'Lung carcinomas': {'color':'#0471B0','acronym':'L'},
                                        'Digestive System carcinomas': {'color':'#FCA23A','acronym':'DS'},
                                        'Genitourinary System malignancies': {'color':'#471284','acronym':'GS'},
                                        'Solid tumors': {'color':'#777777','acronym':'S'}}
                                    %}

                                    <div class="form-group form-inline">
                                    <div class="input-group">
                                      <div class="input-group-addon"><input type="radio" name="multicancertype" value="off" id="single" checked ></div>
                                      <div class="input-group-addon" style="color:#000000;"><label for="single" style="padding-left:0px;font-weight: 100;margin-bottom: 0px;">Select one or more cancer types to design a panel</label></div>
                                    </div>
                                    </div>

                                    <div class="row" id="single_individualcheckbox">

                                        <div class="col-xs-8 col-sm-6">

                                        <div class="form-group" style="padding-left:20px;">
                                        <div class="checkbox" >
                                            {% for ttype in ttypes %}

                                                {% set counter = ['1'] %}
                                                {% if loop.index <= 14 %}

                                                    {% for ct_group,ttype_list in cancer_types_groups|dictsort %}
                                                        {% if ct_group != 'Solid tumors'  %}
                                                            {% if ttype.TTYPE in ttype_list %}
                                                                {% if counter.append('1') %}{% endif %}
                                                                {% if  ct_group != 'Haematological malignancies' %}
                                                                        <span style="padding-left:10px;"></span><input type="checkbox" name="ttype_select" value={{ttype.TTYPE}} id="{{ttype.TTYPE}}"><span style="padding-left:3px;"></span>
                                                                        <span class="badge" style="background-color:{{cancer_type_color['Solid tumors']['color']}};">{{cancer_type_color['Solid tumors']['acronym']}}</span>
                                                                        <span class="badge" style="background-color:{{cancer_type_color[ct_group]['color']}};">{{cancer_type_color[ct_group]['acronym']}}</span>
                                                                        <label for="{{ttype.TTYPE}}" style="padding-left:0px;">{{ttype.DESC}}</label></span></input><br />
                                                                {% else %}
                                                                        <span style="padding-left:10px;"></span><input type="checkbox" name="ttype_select" value={{ttype.TTYPE}} id="{{ttype.TTYPE}}"><span style="padding-left:3px;"></span>
                                                                        <span class="badge" style="background-color:{{cancer_type_color[ct_group]['color']}};">{{cancer_type_color[ct_group]['acronym']}}</span>
                                                                        <label for="{{ttype.TTYPE}}" style="padding-left:0px;">{{ttype.DESC}}</label></span></input><br />
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if counter|length < 2 %}
                                                        <span style="padding-left:10px;"></span><input type="checkbox" name="ttype_select" value={{ttype.TTYPE}} id="{{ttype.TTYPE}}"><span style="padding-left:3px;"></span>
                                                        <span class="badge" style="background-color:{{cancer_type_color['Solid tumors']['color']}};">{{cancer_type_color['Solid tumors']['acronym']}}</span>
                                                        <label for="{{ttype.TTYPE}}" style="padding-left:0px;">{{ttype.DESC}}</label></span></input><br />
                                                    {% endif %}

                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        </div>

                                        </div>
                                        <div class="col-xs-8 col-sm-6">
                                        <div class="form-group" style="padding-left:10px;">
                                        <div class="checkbox">
                                            {% for ttype in ttypes %}

                                                {% set counter = ['1'] %}
                                                {% if loop.index >= 15 %}

                                                    {% for ct_group,ttype_list in cancer_types_groups|dictsort %}
                                                        {% if ct_group != 'Solid tumors'  %}
                                                            {% if ttype.TTYPE in ttype_list %}
                                                                {% if counter.append('1') %}{% endif %}
                                                                {% if  ct_group != 'Haematological malignancies' %}
                                                                        <input type="checkbox" name="ttype_select" value={{ttype.TTYPE}} id="{{ttype.TTYPE}}2"><span style="padding-left:3px;"></span>
                                                                        <span class="badge" style="background-color:{{cancer_type_color['Solid tumors']['color']}};">{{cancer_type_color['Solid tumors']['acronym']}}</span>
                                                                        <span class="badge" style="background-color:{{cancer_type_color[ct_group]['color']}};">{{cancer_type_color[ct_group]['acronym']}}</span>
                                                                        <label for="{{ttype.TTYPE}}2" style="padding-left:0px;">{{ttype.DESC}}</label></span></input><br />
                                                                {% else %}
                                                                        <input type="checkbox" name="ttype_select" value={{ttype.TTYPE}} id="{{ttype.TTYPE}}2"><span style="padding-left:3px;"></span>
                                                                        <span class="badge" style="background-color:{{cancer_type_color[ct_group]['color']}};">{{cancer_type_color[ct_group]['acronym']}}</span>
                                                                        <label for="{{ttype.TTYPE}}2" style="padding-left:0px;">{{ttype.DESC}}</label></span></input><br />
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if counter|length < 2 %}
                                                        <input type="checkbox" name="ttype_select" value={{ttype.TTYPE}} id="{{ttype.TTYPE}}2"><span style="padding-left:3px;"></span>
                                                        <span class="badge" style="background-color:{{cancer_type_color['Solid tumors']['color']}};">{{cancer_type_color['Solid tumors']['acronym']}}</span>
                                                        <label for="{{ttype.TTYPE}}2" style="padding-left:0px;">{{ttype.DESC}}</label></span></input><br />
                                                    {% endif %}

                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        </div>

                                        </div>
                                    </div>
                                    <br />

                                    <div class="form-group form-inline">
                                    <div class="input-group">
                                      <div class="input-group-addon"><input type="radio" name="multicancertype" value="on" id="multi"></div>
                                      <div class="input-group-addon" style="color:#000000;padding-left:-10px;"><label for="multi" style="padding-left:-10px;font-weight: 100;margin-bottom: 0px;">Select one or more multi-cancer groups to design a panel</label></div>
                                    </div>
                                    </div>
                                    <div class="form-group" style="padding-left:20px;">
                                    <div class="checkbox" id="multi_individualcheckbox">
                                    {% for ct_group,ttype_list in cancer_types_groups|dictsort %}
                                            <p></p><span style="padding-left:10px;"></span><input type="checkbox" name="ttype_select_multi" value={{ttype_list|join(',')}} id="{{ttype_list|join(',')}}"><span style="padding-left:5px;"></span><span class="badge" style="background-color:{{cancer_type_color[ct_group]['color']}};">
                                            {{cancer_type_color[ct_group]['acronym']}}</span><span style="padding-left:5px;"><strong><label for="{{ttype_list|join(',')}}" style="padding-left:0px;">{{ ct_group }}</label></strong> </span></input><br /></p>
                                    {% endfor %}
                                    </div>
                                    </div>
                                    <br />

                                    <div class="form-group form-inline">
                                    <div class="input-group">
                                      <div class="input-group-addon"><input type="radio" name="multicancertype" value="user" id="usercohort"></div>
                                      <div class="input-group-addon" style="color:#000000;padding-left:-10px;"><label for="usercohort" style="padding-left:-10px;font-weight: 100;margin-bottom: 0px;">Consider your own cancer cohort <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Upload your own mutational cohort. By enabling this option relevant mutations (e.g. biomarkers of drug response or validated oncogenic mutations) cannot be assessed." ><span class="glyphicon glyphicon-info-sign" ></span></label></div>
                                    </div>
                                    </div>

                                    <div class="row" id="active_user_cohort">
                                        <div class="col-sm-4">
                                        <div class="dropdown">

                                          <select name="user_cohort_ttype" class="form-control">
                                                <option selected disabled>Select cohort cancer type(s)</option>
                                                {% for ttype in ttypes %}
                                                    <option value={{ttype.TTYPE}}>{{ttype.DESC}}</option>
                                                {% endfor %}

                                                <option role="separator" class="divider" disabled></option>

                                                {% for ct_group,ttype_list in cancer_types_groups|dictsort %}
                                                    <option value={{ttype_list|join(',')}}>{{ ct_group }}</option>
                                                {% endfor %}
                                          </select>

                                          <p style="text-align: left;font-size: 70%; padding-bottom: 0px;padding-top: 10px;">Mandatory to select one </i><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Select the cancer type our your cohort or locate it within a group of cancer types (i.e. Solid tumors)" ><span class="glyphicon glyphicon-info-sign" ></span></p>
                                        </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="file" class="filestyle" data-buttonText="Upload cancer cohort" name="customized_cohort_file">

                                            <p style="text-align: left;font-size: 90%; padding-bottom: 0px; padding-top: 10px;"><strong>Format</strong>: VEP mutational output <a style="color:#333333;cursor:pointer;width="400px;" data-toggle="popover"  data-html="true" title="" data-content="<p>  Variant Effect Predictor (VEP) determines the effect of genomic variants on genes, transcripts, and protein sequence, as well as regulatory regions. The user simply inputs the coordinates of the variants and the nucleotide changes.</p> <a href='http://www.ensembl.org/Tools/VEP' target='_blank'><img src='static/images/vep_launch.png' width=50%/></a>"><span class="glyphicon glyphicon-info-sign"></span></a></p>
                                            <p style="text-align: left;padding-top: 5px;font-size: 90%"><a href="static/data/cohort_input_example.txt" download>Example file</a></p>

                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>


                                    <div class="row" id="disabled_user_cohort" style="pointer-events: none;opacity: 0.2;background: #ffffff;">
                                        <div class="col-sm-4">
                                        <div class="dropdown">

                                          <select name="user_cohort_ttype" class="form-control" disabled>
                                                <option selected disabled>Select cohort cancer type(s)</option>
                                          </select>

                                          <p style="text-align: left;font-size: 70%; padding-bottom: 0px;padding-top: 10px;">Mandatory to select one </i><span class="glyphicon glyphicon-info-sign" ></span></p>

                                        </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="file" class="filestyle" data-buttonText="Upload cancer cohort" disabled>

                                            <p style="text-align: left;font-size: 90%; padding-bottom: 0px; padding-top: 10px;"><strong>Format</strong>: VEP mutational output <span class="glyphicon glyphicon-info-sign"></span></p>
                                            <p style="text-align: left;padding-top: 5px;font-size: 90%"><a href="">Example file</a></p>

                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>

                                    <br />
                                </div>

                                <p style="line-height:30px;padding-right:30px;font-size:18px;background-color:#213980;color:#ffffff;"><span style="padding-left:10px;">Select candidate genes</span></p>
                                <div id="genes_input_details" style="padding-left:20px;">
                                    <br />
                                    <div class="form-group form-inline">
                                    <div class="input-group">
                                      <div class="input-group-addon"><input type="radio" name="paneltype" value="basic" id="basic" checked></div>
                                      <div class="input-group-addon" style="color:#000000;"><label for="basic" style="padding-left:0px;font-weight: 100;margin-bottom: 0px;">Include all driver genes (n=576) of the selected tumor type(s) and biomarkers of drug effect</label>
                                      <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Include driver genes acting in tumorigenesis in the selected tumor type(s) and drug response biomarkers (see About for more details)." ><span class="glyphicon glyphicon-info-sign" id="openerdriverINFO"></span></span>

                                      </div>
                                    </div>
                                    </div>

                                    <br />
                                    <div class="form-group form-inline">
                                    <div class="input-group">
                                      <div class="input-group-addon"><input type="radio" name="paneltype" value="drugprof" id="drugprofiling"></div>
                                      <div class="input-group-addon" style="color:#000000;"><label for="drugprofiling" style="padding-left:0px;font-weight: 100;margin-bottom: 0px;">Include only drug effect biomarker genes (n=297) </label>
                                      <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Include genes with mutations associated to drug response or resistance. Biomarker effects may not be specific for the selected tumor type(s)." ><span class="glyphicon glyphicon-info-sign" id="openerdriverDRUGINFO"></span></div>
                                    </div>
                                    </div>

                                    <br />
                                    <div class="form-group form-inline">
                                    <div class="input-group">
                                      <div class="input-group-addon"><input type="radio" name="paneltype" value="customized" id="mygenes"></div>
                                      <div class="input-group-addon" style="color:#000000;"><label for="mygenes" style="padding-left:0px;font-weight: 100;margin-bottom: 0px;">Consider your own list of genes <i>(Max. 1000 genes)</i></label></div>
                                    </div>
                                    </div>
                                        <div class="row" id="active_customized_options" style="display:none;">
                                            <div class="col-sm-4">

                                                <textarea id="customized_genes" name="customized_genes" placeholder='e.g. BRAF,TP53,KRAS,...' cols="27"></textarea>
                                                <a id="buttongenes" style="cursor: pointer;background-color: #357D25" class="badge">Validate</a>
                                                <input id="validated_tocheck" name="validated_check" value="on" type="checkbox" style="display: none;" />
                                                <p style="text-align: left;font-size: 70%; padding-bottom: 0px;">Mandatory <i>Validate</i> to <i>Submit</i></p>
                                                <p style="text-align: left;font-size: 90%; padding-bottom: 0px;"><strong>Format</strong>: Gene symbols comma separated</p>

                                                <div id="geneswarnings_header" style="display: none;font-weight: bold;"></div>
                                                <div id="geneswarnings" style="display: none;max-height: 150px; overflow-y: auto;padding-left: 5px;"></div>

                                            </div>

                                            <div class="col-sm-4">
                                            <input type="file" class="filestyle" data-buttonText="Upload gene list" name="customized_genes_file">
                                            <p style="text-align: left;font-size: 90%; padding-bottom: 0px; padding-top: 10px;"><strong>Format</strong>: one gene symbol per line <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="This file may be written using any text editor, such as Notepad (Windows), TextEdit (Mac OS X) or Gedit (Linux). In the case of TextEdit it should be converted to plain text activating “Format > Make Plain Text”. Alternatively, the you may download Sublime Text, a free text editor. From Excel or Numbers, the list may be copied and pasted onto any of the text editors mentioned above."><span class="glyphicon glyphicon-info-sign" id="fileINFO" style="cursor: pointer;"></span></span></p>
                                            <p style="text-align: left;padding-top: 5px;font-size: 90%"><a href="static/data/gene_input_list_example.txt" download>Example file</a></p>
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                        <div class="row" id="disabled_customized_options" style="pointer-events: none;opacity: 0.2;background: #ffffff;">
                                            <div class="col-sm-4">

                                                <textarea placeholder='e.g. BRAF,TP53,KRAS,...' cols="27" disabled></textarea>
                                                <a class="badge">Validate</a>
                                                <p style="text-align: left;font-size: 70%; padding-bottom: 0px;">Mandatory <i>Validate</i> to <i>Submit</i></p>
                                                <p style="text-align: left;font-size: 90%; padding-bottom: 0px;"><strong>Format</strong>: Gene symbols comma separated</p>

                                            </div>

                                            <div class="col-sm-4">
                                            <input type="file" class="filestyle" data-buttonText="Upload gene list">
                                            <p style="text-align: left;font-size: 90%; padding-bottom: 0px; padding-top: 10px;"><strong>Format</strong>: one gene symbol per line <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="This file may be written using any text editor, such as Notepad (Windows), TextEdit (Mac OS X) or Gedit (Linux). In the case of TextEdit it should be converted to plain text activating “Format > Make Plain Text”. Alternatively, the you may download Sublime Text, a free text editor. From Excel or Numbers, the list may be copied and pasted onto any of the text editors mentioned above."><span class="glyphicon glyphicon-info-sign" id="fileINFO" style="cursor: pointer;"></span></span></p>
                                            <p style="text-align: left;padding-top: 3px;font-size: 90%"><a href="static/data/gene_input_list_example.txt" download>Example file</a></p>
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    <br />
                                </div>


                                <!-- ADVANCED  -->
                                <a id='button_advanced' class="navbar-box-gray" type="button" data-toggle="collapse" data-target="#advanced" aria-expanded="false" aria-controls="advanced"><span style="font-size:18px;color:#ffffff;"> Advanced settings </span></a>

                                <p class="help-block" > Fine tune the genes/regions to include in the panel </p>
                                <div class="collapse" id="advanced">
                                  <div  style="background-color: #F3F3F3;border-radius:20px;margin-bottom: 20px;padding-left: 10px;padding-right: 10px;">
                                        <br />
                                        <p style="line-height:30px;padding-right:30px;font-size:18px;background-color:#213980;color:#ffffff;" data-toggle="collapse" data-target="#advanced_gen" aria-expanded="false" aria-controls="advanced_gen"><span style="padding-left:10px;cursor: pointer;">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                            Specify a panel size</span></p>
                                        <div id="advanced_gen" style="padding-left:20px;" class="collapse">
                                            <div class="form-group" style="width:80%;">
                                                <div class="input-group">
                                                  <div class="input-group-addon" style="color:#000000;">Maximum number of genes to include in the panel
                                                  <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="No maximum number of genes in panel is considered if left empty"><span class="glyphicon glyphicon-info-sign"></span></u>
                                                  </div>
                                                  <input type="text" class="form-control" name="max_g" placeholder="e.g. 20 (not limited by default)">
                                                </div>
                                            </div>

                                            <div class="form-group" style="width:80%;">
                                                <div class="input-group">
                                                  <div class="input-group-addon" style="color:#000000;">Maximum Kpbs of DNA to sequence in the panel
                                                  <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="No maximum number of kilo base pairs in panel is considered if left empty"><span class="glyphicon glyphicon-info-sign"></span></u>
                                                  </div>
                                                  <input type="text" class="form-control" name="max_kbp" placeholder="e.g. 100 (not limited by default)">
                                                </div>
                                            </div>

                                        </div>

                                        <p style="line-height:30px;padding-right:30px;font-size:18px;background-color:#213980;color:#ffffff;" data-toggle="collapse" data-target="#advanced_genes" aria-expanded="false" aria-controls="advanced_genes"><span style="padding-left:10px;cursor: pointer;">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                            Include/exclude panel gene candidates</span></p>
                                            <p class="help-block">*Only if one of the pre-compiled gene lists was selected as input</p>

                                        <div id="advanced_genes" style="padding-left:20px;" class="collapse">

                                            <div class="form-group">
                                                <p>Specify if you want to force <strong>including one/several genes </strong>into the panel candidates
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Genes specified by the user will be included regardless they are not detected as cancer drivers in the databases used"> <span class="glyphicon glyphicon-info-sign"></span></u></p>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                    <textarea name='mandatory_genes' placeholder='e.g. BRAF,TP53,KRAS,...' rows="4"></textarea>
                                                        <p style="text-align: left;font-size: 90%"><strong>Format</strong>: gene symbols comma separated </p>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div style=";width: 330px;">

                                                            <input type="file" class="filestyle" data-buttonText="Upload gene list" name="mandatory_genes_file">
                                                            <p style="text-align: left;font-size: 90%"><strong>File format</strong>: one gene symbol per line </p>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <hr>
                                            <div class="form-group">
                                                <p>Specify if you want to force <strong>excluding one/several genes </strong>from the panel candidates
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Genes specified by the user will be excluded regardless they are detected as cancer drivers in the databases used" <span class="glyphicon glyphicon-info-sign"></span></u></p>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                    <textarea name='excluded_genes' placeholder='e.g. JAK1,JAK2,...' rows="4"></textarea>
                                                         <p style="text-align: left;font-size: 90%"><strong>Format</strong>: gene symbols comma separated </p>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div style=";width: 330px;">

                                                            <input type="file" class="filestyle" data-buttonText="Upload gene list" name="excluded_genes_file">
                                                            <p style="text-align: left;font-size: 90%"><strong>File format</strong>: one gene symbol per line </p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <p style="line-height:30px;padding-right:30px;font-size:18px;background-color:#213980;color:#ffffff;" data-toggle="collapse" data-target="#advanced_tier" aria-expanded="false" aria-controls="advanced_tier"><span style="padding-left:10px;cursor: pointer;">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                            Fine tune panel tier gene classification  </span></p>
                                        <div id="advanced_tier" style="padding-left:20px;" class="collapse">
                                            <p>In this section you can modify the gene tier classification method. <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="See about section for more details on panel tier gene classification."><span class="glyphicon glyphicon-info-sign"></span></u></p>

                                            <input type="checkbox" name="stringent_tier1" value="on" id="stringent"/><label for="stringent" style="padding-left:10px;font-weight: 100;margin-bottom: 0px;">Tick to consider <strong>Tier 1 stringent classification</strong>.</label>

                                        </div>

                                        <br />
                                        <p style="line-height:30px;padding-right:30px;font-size:18px;background-color:#213980;color:#ffffff;" data-toggle="collapse" data-target="#advanced_regions" aria-expanded="false" aria-controls="advanced_regions"><span style="padding-left:10px;cursor: pointer;">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                            Fine tune gene regions parameters</span></p>
                                        <div id="advanced_regions" style="padding-left:20px;" class="collapse">

                                            <div id="regions_tune_disabled" style="pointer-events: none;opacity: 0.2;background: #e3e3e3;display: none;">
                                            <p>In this section you can fine-tune the detection of gene fragments to include in the panel.</p>
                                            <br />
                                            {% set options_coverage = [10,20,30,40,50,60,70,80,90,100] %}
                                            <p> At least

                                                <select name="regions_coverage" disabled>
                                                 {% for val in options_coverage %}
                                                    {% if val == 80 %}
                                                     <option value={{val}} selected="selected">{{val}}%</option>
                                                    {% endif %}
                                                    <option value={{val}}>{{val}}%</option>
                                                 {% endfor %}
                                                </select>

                                                of the mutations in a gene are demanded to be allocated in mutation high density regions, modify this parameter here.
                                                <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="The variable controlled by this selector decides whether the full sequence of a gene (if fewer that the selected percentage of its mutations occur in high density mutation regions) or only the sequence of its high density mutation regions is included in the panel."><span class="glyphicon glyphicon-info-sign"></span></u></p>

                                            <hr>
                                                <p>Specify which genes are to be included entirely instead of broken down into fragments (by default only TP53 is included entirely):</p>
                                                <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="To achieve best panel performance, TP53 is included in any panel as whole gene because it is known that mutations in any region of the gene are relevant for tumorogenesis.
                                                    According users needs and knowledge, additional genes can be specified to be included whole gene in the panel."><span class="glyphicon glyphicon-info-sign"></span></u></p>
                                            <div class="form-group" style="padding-left:60px;" id="wholegene_form" disabled>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                    <textarea name='whole_genes' placeholder='e.g. TP53,...' rows="4" disabled>TP53</textarea>
                                                        <p class="help-block">Gene symbols comma separated</p>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div style=";width: 330px;">
                                                            <input type="file" class="filestyle" data-buttonText="Upload gene list" name="whole_genes_file" disabled/>
                                                            <p class="help-block" style="text-align: right">*One gene symbol per line</p>
                                                        </div>

                                                    </div>

                                                </div>
                                                <br />

                                            </div>
                                            </div>
                                            <div id="regions_tune">
                                            <p>In this section you can fine-tune whether genes are included in full or by specific regions of high mutation density in the panel.</p>
                                            <br />
                                            {% set options_coverage = [10,20,30,40,50,60,70,80,90,100] %}
                                            <p> At least

                                                <select name="regions_coverage">
                                                 {% for val in options_coverage %}
                                                    {% if val == 80 %}
                                                     <option value={{val}} selected="selected">{{val}}%</option>
                                                    {% endif %}
                                                    <option value={{val}}>{{val}}%</option>
                                                 {% endfor %}
                                                </select>

                                                of the mutations in a gene are demanded to be allocated in mutation high density regions, modify this parameter here.
                                                <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="The variable controlled by this selector decides whether the full sequence of a gene (if fewer that the selected percentage of its mutations occur in high density mutation regions) or only the sequence of its high density mutation regions is included in the panel."><span class="glyphicon glyphicon-info-sign"></span></u></p>

                                            <hr>
                                                <p> Specify if some genes should be included as whole genes and not regions in the panel (by default only TP53 is included whole gene):
                                                <u data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="To achieve best panel performance, TP53 is included in any panel as whole gene because it is known that mutations in any region of the gene are relevant for tumorogenesis.
                                                    According users needs and knowledge, additional genes can be specified to be included whole gene in the panel."><span class="glyphicon glyphicon-info-sign"></span></u></p>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                    <textarea name='whole_genes' placeholder='e.g. TP53,...' rows="4">TP53</textarea>
                                                        <p style="text-align: left;font-size: 90%"><strong>Format</strong>: gene symbols comma separated </p>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div style=";width: 330px;">
                                                            <input type="file" class="filestyle" data-buttonText="Upload gene list" name="whole_genes_file"/>
                                                            <p style="text-align: left;font-size: 90%"><strong>File format</strong>: one gene symbol per line </p>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                            </div>
                                             <hr>
                                                <p>
                                                  <input type="checkbox" name="regions" value="off" id="regions"/><label for="regions" style="padding-left:10px;font-weight: 100;margin-bottom: 0px;">Tick to include all genes in the panel as <strong>whole genes</strong>, do not consider gene regions.</label>
                                                </p>
                                            <br />
                                        </div>

                                        <br />
                                  </div>
                                </div>
                                <!-- ADVANCED END -->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                  <input id="license_check" type="checkbox" name="license" {% if terms_accepted %}checked{% endif %}> Check if you understand and agree to our <a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="_tab">Terms of Use</a>.
                                </label>
                            </div>
                            <button type="submit" id="submit_button" value="Submit" class="btn btn-default blue2" disabled="true">Submit</button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            </form>

        <div id="slow_warning" style="display:none">
          <center>
          <img src="static/images/loading.gif" width="10%" height="10%"><p><span style="color:#111111;font-weight: bold;font-size:20px;">Loading please wait</span></p>
          </center>
        </div>

</div>

{% endblock %}

{% block scripts %}
{{ super()}}

    <script type="text/javascript">
    $(document).ready(function() {
$(function () {
        $('[placeholder]').focus(function() {
      var input = $(this);
      if (input.val() == input.attr('placeholder')) {
        input.val('');
        input.removeClass('placeholder');
      }
    }).blur(function() {
      var input = $(this);
      if (input.val() == '' || input.val() == input.attr('placeholder')) {
        input.addClass('placeholder');
        input.val(input.attr('placeholder'));
      }
    }).blur().parents('form').submit(function() {
      $(this).find('[placeholder]').each(function() {
        var input = $(this);
        if (input.val() == input.attr('placeholder')) {
          input.val('');
        }
      })
    });
});
});

$(window).on('load', function(){
	$(".loader").fadeOut("slow");
    $('#designform').submit(function() {
        $(".loader").show();
        return true;
    });
})
</script>
<script type="text/javascript" src="static/js/bootstrap-filestyle.min.js"> </script>

<script>
$(document).ready(function(){
    $("#buttongenes").click(function() {

        $( "#geneswarnings" ).empty();
        $( "#geneswarnings" ).show();
        $( "#geneswarnings_header" ).empty();
        $( "#geneswarnings_header" ).show();
        if ($("#customized_genes").val().trim() != 'e.g. BRAF,TP53,KRAS,...') {

            var genes = $("#customized_genes").val();
            var all_genes_ok = 1;
            var genes_synonyms_dict = {{genes_synonims}};

            $.each(genes.split(','), function (index, value) {
                if (value.trim() != '') {
                    var gene_str = value.toUpperCase().trim();
                    var gene_found = $.inArray(gene_str, {{ genes_to_search }});

                    if (gene_found == -1) {

                        var synonym_found = $.inArray(gene_str, {{ synonims_to_search }});

                        if (synonym_found == -1) {

                            document.getElementById("geneswarnings").innerHTML += "<p style='color:#cc0000;'>" + value + " not found </p>";
                            all_genes_ok = -1;
                        }

                        else {
                            document.getElementById("geneswarnings").innerHTML += "<p style='color:#3c763d;'>" + gene_str + " added as " + genes_synonyms_dict[gene_str] + " synonim </p>";
                        }
                        ;
                    }
                    ;
                }

            });
            if (all_genes_ok == 1) {
                document.getElementById("geneswarnings_header").innerHTML += "<p style='color:#3c763d;'> All gene symbols found  </p>";
            }
            else {
               document.getElementById("geneswarnings_header").innerHTML += "<p style='color:#cc0000;'> Some gene symbols not found </p>";
            }
            $("#validated_tocheck").prop("checked", true);

        } else {
             document.getElementById("geneswarnings_header").innerHTML += "<p style='color:#cc0000;'> No gene symbols found  </p>";
        }
    });
});
</script>

<script>

    function show_slow_warning() {
      $("#slow_warning").show();
    }

    $(document).ready(function() {
      $('#submitform').click(function(){
        show_slow_warning();
      });
      $('[data-toggle="popover"]').popover();
      // Initialize submit
      $("#submit_button").attr("disabled", !$("#license_check").is(":checked"))

    });


    //Cancer type radio and checkbox select unselect
    $("#single_individualcheckbox").click(function(){
    if($(this).find('input[type="checkbox"]').is(':checked')){
        $( "#single" ).prop( "checked", true );
        $('#multi_individualcheckbox').find('input[type=checkbox]:checked').removeAttr('checked');
    }
    });

    $("#multi_individualcheckbox").click(function(){
    if($(this).find('input[type="checkbox"]').is(':checked')){
        $( "#multi" ).prop( "checked", true );
        $('#single_individualcheckbox').find('input[type=checkbox]:checked').removeAttr('checked');
    }
    });

    $("#multi").change(function () {
        $('#single_individualcheckbox').find('input[type=checkbox]:checked').removeAttr('checked');
    });

    $("#single").change(function () {
        $('#multi_individualcheckbox').find('input[type=checkbox]:checked').removeAttr('checked');
    });

    $("#regions").click(function(){
        if($("#regions").is(':checked')){
            $( "#regions_tune" ).hide();
            $( "#regions_tune_disabled" ).show();
        }
        else {
            $( "#regions_tune" ).show();
            $( "#regions_tune_disabled" ).hide();
        }
    });

    $('input:radio[name="paneltype"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == 'customized') {
            $( "#active_customized_options" ).show();
            $( "#disabled_customized_options" ).hide();

        } else{
            $( "#active_customized_options" ).hide();
            $( "#disabled_customized_options" ).show();
        }
    });

    $( "#active_user_cohort" ).hide();
    $('input:radio[name="multicancertype"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == 'user') {
            $( "#active_user_cohort" ).show();
            $( "#disabled_user_cohort" ).hide();

        } else{
            $( "#active_user_cohort" ).hide();
            $( "#disabled_user_cohort" ).show();
        }
    });

    $(document).ready(function() {
            terms_accepted = $("#license_check").is(':checked');
            $("#submit_button").attr("disabled", !terms_accepted);
        });


    $("#license_check").click(function() {
       $("#submit_button").attr("disabled", !this.checked);
    });
</script>
<script src="static/js/hopscotch.js"></script>
<script src="static/js/js_tour_form_hopscoth.js"></script>
{% endblock %}