<!DOCTYPE html>
{% set navigation_bar = [
    ('about', 'glyphicon glyphicon-comment', 'About'),
    ('design_panel', 'glyphicon glyphicon-cog', 'Design'),
    ('case_studies', 'glyphicon glyphicon-tasks', 'Use cases')
    ]
-%}
{% set active_page = active_page|default('index') -%}
<html>
<head>
    <link rel="shortcut icon" href="images/logo-mini.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Cancer driver mutations" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>OncoPaD</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link href="static/css/hopscotch.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" />
    <link rel="stylesheet" href="static/css/oncopad.css" />
    <link rel="stylesheet" type="text/css" href="static/js/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <link href="static/js/build/muts-needle-plot.css" rel="stylesheet" type="text/css">

    {% block head %}
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7336589-7', 'auto');
      ga('send', 'pageview');

    </script>
{%  block loader %}
{%  endblock %}
<a href="#0" class="cd-top">Top</a>
<header>
    <nav class="navbar navbar-default navbar-intogen">
        <div class="container-fluid">
            <div class="navbar-header navbar-intogen">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="index_p"><img width="60" height="30" src="images/logo-mini.png" /></a>
            </div>
            <div id="navbar" class="navbar-collapse navbar-intogen collapse">
                <ul class="nav navbar-nav">
                    {% for href, icon, caption in navigation_bar %}
                        <li class="navbar-box">

                            <a href="{{ href|e }}" style="padding-top: 0px; margin-top: 4px; color: #fff;" >
                            <span >{{ caption|e }}</span>

                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-login" id="navbar_user" style="color: black">
                    {% include "navbar_user.html" %}
                </ul>
            </div>
        </div>
    </nav>
    {% block header_content %}{% endblock %}
</header>

{#REQUIRED: when using authentication and the user profile#}
{% include "profile_form.html" %}

<div id="main">
    <div>
         {% block content %}{% endblock %}
    </div>
</div>

<footer class="text-center hidden-print">
    <p  style="font-size:16px;">If you use OncoPaD please cite <a href="https://genomemedicine.biomedcentral.com/articles/10.1186/s13073-016-0349-1">Rubio-Perez<em> et al.</em> (2016)</a></p>

    <a href="http://www.upf.edu" target="tab" ><img style="padding-left: 130px;" src="images/upf.png" title="UPF - Universitat Pompeu Fabra" ></a>
    <a href="http://www.icrea.cat" target="tab"><img src="images/icrea.png" title="ICREA - Institució Catalana de Recerca i Estudis Avançats"></a>
    <a href="http://www.mineco.gob.es/" target="tab"><img style="padding-left: 20px;" src="images/MINECO2.png" title="Ministerio de Economia y Competitividad - Gobierno de Espana"/></a>

    <div style="float: right; font-size: 10px; margin-right: 20px;">
        <a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="_tab">- Terms of Use</a>
        <a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="_blank">- Legal advice</a>
    </div>
</footer>

{% block scripts %}

    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="static/js/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/gotop.js"></script>

    <script>
        {# Work around to make Python "True" compatible with javascript "true" #}
        var True = true
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

{% endblock %}

{% block authentication_scripts %}


    <script type="text/javascript">
        function anonymous() {
            $('#anonymous_user').show();
            $('#registered_user').hide();
            $('#profiled_user').hide();
        };

        function authenticate(user) {
            $('#anonymous_user').hide();
            $('#registered_user').show();
            $('#profiled_user').hide();
            $('#registered_user_id').text(user);
        };

        function show_institution(institution) {
            $('#profile_institution_div').show();
            $('#profile_institution').text(institution);
            $('#profile_form_institution').val(institution);
        };

        function newsletter(flag) {
            if (flag) {
                $('#profile_newsletter').text('Subscribed');
                $('#profile_form_newsletter').prop('checked', true);
            }else {
                $('#profile_newsletter').text('Not subscribed');
            }
        };

        function terms(flag) {
            if (flag) {
                $('#profile_terms').text('Accepted');
                $('#profile_form_terms').prop('checked', true);
            }else {
                $('#profile_terms').text('Not accepted');
            }
        };

        function profile_submit_enable(flag) {
            $("#profile_form_submit").attr("disabled", !flag);
        };

        function authenticate_with_profile(email) {

            $('#anonymous_user').hide();
            $('#registered_user').hide();
            $('#profiled_user').show();

            //email
            $('#profile_email').text(email);
            $('#profile_form_email').attr('placeholder', email);

            // set the current page for redirecting after the submit
            $('#profile_form_to').val(window.location.href);
        };

        function ask_for_newsletter(frm) {
            swal({
                title: "BBGLab updates",
                text: "Would you like to be informed of important updates on our tools?",
                icon: "warning",
                buttons: ['No', 'Yes'],
                dangerMode: true,

            }).then((isConfirm) => {
                if (isConfirm){
                    $('#profile_form_newsletter').prop('checked', true);
                    frm.submit();
                } else {
                    frm.submit();
                }
            });
        };

        $(document).ready(function(){
             /* Update loging and logout redirect pages */
             $("a[href='login']").attr("href", "login?page="+encodeURIComponent(window.location.href));
             $("a[href='logout']").attr("href", "logout?page="+encodeURIComponent(window.location.href));
        });

        $("#profile_form_terms").click(function() {
            $("#profile_form_submit").attr("disabled", !this.checked);
        });

    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script src="user.js"></script>

{% endblock %}
</body>
</html>