{% extends "layout.html" %}
{% import "message.html" as message %}

{% set user = getUser() %}

{% block stylesheets %}

    <link rel="stylesheet" href="css/persona.css">

    <style>
        body {
            background: none;
        }
    </style>
{% endblock %}

{% block content %}

{% if user is none or user.isanonymous %}

    {{ message.show('Please, sign in to access this page', type='info') }}
    {% if msg is not none %}
        {{ message.show(msg, type='warning') }}
    {% endif %}

    <div class="container" >
        <div class="row">
                <div class="persona login-button col-xs-12 col-md-8 col-md-offset-2">
                        <a href='login' class="btn persona-button"><span>Log in</span></a>
                </div>
            </div>
        </div>
    </div>

{% else %}
    {{ message.show('Your are already logged as: ' +user.id) }}
{% endif %}


{% endblock %}