{# Macro to display a warning message#}

{% macro show(msg, type='warning') -%}
    {% if msg is not none %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="alert alert-{{type}}" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> {{msg}}
                    </div><!-- alert -->
                </div>
            </div><!-- row -->
        </div><!-- container -->
    {% endif %}
{%- endmacro %}
