{#This document contains the 3 items than can be shown for the user in the navigation bar.#}
{#Only 1 at a time should be displayed.#}
{#The JS and user.js should fill dinamycally all the valuesin the spans#}



{#unlogged user#}
<li id="anonymous_user">
    <a href="login" style="cursor: pointer;">
        Login
        <i class="fa fa-user"></i>
    </a>
</li>


{#Logged user: user with profile#}
<li class="dropdown" id="profiled_user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            <span id="profile_email">
                <!-- Filled by JS -->
            </span>
        </strong>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu container-fluid user_profile">
        <li>
            <a href="https://bbglab.irbbarcelona.org/profile" target="_blank">
                View profile
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="logout" class="logout">
                Logout
            </a>
        </li>
    </ul>
</li>

