{% extends "layout.html" %}
{% set active_page = "design" %}

{% block head %}
<style>
body{
    -webkit-print-color-adjust:exact;
    }
</style>

{% endblock %}

{% block loader %}
    <div class="loader"></div>
{% endblock %}

{% block content %}
<br />
<div id="realView" class="container-fluid">
    <br />
    <div class="row" id="summary" style="display: flex;align-items: center;">
        {% if requirements['paneltype'] == 'drugprof' %}
        <p class="alert alert-warning" style="text-align: center">
            <strong>You have generated a panel filtered by driver genes with mutation biomarkers of drug response or resistance</strong>
            <br />Note that depending on the mutations found in the cancer type(s) selected some gene-drug biomarker associations may not be found.<br />
        </p>
        {% endif %}
        {% if requirements['paneltype'] == 'customized' %}
        <p class="alert alert-warning" style="text-align: center">
            <strong>You have generated a panel with your own list of driver genes</strong>
            <br />Note that depending on the sample mutations of the cancer type(s) selected some of your genes may not appear.<br />
        </p>
        {% endif %}
        {% if "trimmer_customized" in dfsummary  %}
        <p class="alert alert-danger" style="text-align: center">
            <strong>You have exceed the maximum number of genes for a customized panel</strong>
            <br />Maximum number of genes considered for a customized panel is 1000. The panel was generated with the first 1000 genes of your list.<br />
        </p>
        {% endif %}
        <div class="col-md-1"></div>
        <div class="col-md-6" >
            <div class = "row">
                {% if "genes_not_found" in dfsummary %}
                <p class="alert alert-warning" style="padding-left:20px;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <strong>{{ dfsummary['genes_not_found'] }} not found in our gene reference list</strong>
                    <br />Tip: Try to write the HGNC gene symbol found in current version of Ensembl<br />
                </p>
                {% endif %}

            </div>

            <div class="row" id="download_buttons">
                <div class="col-md-3">
                    <p style="text-align:center;">
                    <a href="download_panel?filename={{BEDfile}}&displayname={{dfsummary.panel_name}}.bed" target="_tab" title="Tier 1 genes genomic coordinates in BED format." class="navbar-box-blue">BED file
                    <u><span class="glyphicon glyphicon-save"></span></u>

                    </a>
                    </p>
                </div>
                <div class="col-md-5">
                    <p style="text-align:center;">
                    <a href="#"  onclick="showPrint();" title='Save all HTML report as PDF -In "Destination" select "Save as PDF"- or print it.' target="_tab" class="navbar-box-blue">Print/PDF report <u><span class="glyphicon glyphicon-save"></span></u></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p style="text-align:center;">
                    <a href="download_panel_excel?filename={{Excelfile}}&displayname={{dfsummary.panel_name}}.xls" target="_tab" title="Download all tables in HTML report as an Excel file, one table per sheet." class="navbar-box-blue">Excel file
                    <u><span class="glyphicon glyphicon-save"></span></u>

                    </button></a>
                    </p>
                </div>
            </div>

            <p></p>

            <p style="text-align:justify;">
                {{dfsummary.panel_name}} was designed to interrogate
                {% if dfsummary.ttype_desc_long != 'FALSE' %}
                    <u data-toggle="tooltip" data-placement="right" style="cursor: pointer;max-width: 280px;" title="{{dfsummary.ttype_desc_long}}">{{dfsummary.ttype_desc_short}}.</u>
                {% else %}
                    {{dfsummary.ttype_desc_short}} tumors.
                {% endif %}
                {{dfsummary.panel_candidates}} genes were in the input to generate the panel.

                {% if dfsummary.mandatory_genes %}
                {{dfsummary.mandatory_genes}} included as specified by the user.
                {%endif%}
                {% if dfsummary.genes_not_mutated %}
                However, {{dfsummary.genes_not_mutated}} not mutated in the panel cohort.
                {%endif%}

                {% if dfsummary.excluded_genes %}
                {{dfsummary.excluded_genes}} excluded as specified by the user.
                {%endif%}


            </p>
            <p style="text-align:justify;">
                {% if dfsummary.max_g %}
                The total number of genes included in the panel was set by user to {{dfsummary.max_g}}.
                {% endif %}
                {% if dfsummary.max_kbp %}
                The total number of kilo base pairs included in the panel was set by user to {{dfsummary.max_kbp}}.
                {% endif %}
            </p>

            <p style="text-align:justify;">
                {{dfsummary.panel_name}} (only Tier 1 genes) would contain {{dfsummary.max_kbp_tier1}} DNA Kbps and include {{dfsummary.tier1}} genes/gene fragments; it would identify {{dfsummary.max_coverage_tier1}} of the {{dfsummary.total_samples}} tumors in the cohort.
            </p>
            
        </div>
        <div class="col-md-4">


            <div class="panel panel-home">
                <div class="panel-heading" role="tab" id="">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseSummary" aria-expanded="true" aria-controls="collapseSummary">
                             {{dfsummary.panel_name}} summary
                        </a>
                    </h3>
                </div>
                <div id="collapseSummary" class="panel-collapse collapse in" role="tabpanel" >
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span  class="badge badge-details">
                            {% if dfsummary.ttype_select|length > 9 %}
                                {{dfsummary.ttype_select[0:8]|join(', ')}},...</span>
                            {% else %}
                                {{dfsummary.ttype_select|join(', ')}}</span>
                            {% endif %}
                            <strong>Cancer Types</strong><br />
                            <span class="badge badge-details">{{dfsummary.total_samples}}</span>
                            <strong>Samples available for analysis</strong><br />
                        </li>
                        <li class="list-group-item">
                            <strong>Tier 1 genes/regions</strong>
                            <u><span data-toggle="tooltip" data-placement="right" style="cursor: pointer;" title="Set of genes/regions that contribute the most to the mutational cumulative distribution (see details in About)."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                            <br />
                            number of genes/regions <span class="badge badge-details">{{dfsummary.tier1}}</span><br />
                            maximum mutational coverage <span class="badge badge-details">{{dfsummary.max_coverage_tier1}}</span><br />
                        </li>
                        {% if dfsummary.tier2 != 0 %}
                        <li class="list-group-item">
                            <strong>Tier 2 genes/regions</strong>
                            <u><span data-toggle="tooltip" data-placement="right" style="cursor: pointer;" title="Set of genes/regions with lower contribution to the mutational cumulative distribution (see details in About)."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                            <br />
                            number of genes/regions <span class="badge badge-details">{{dfsummary.tier2}}</span> <br />
                            maximum mutational coverage <span class="badge badge-details">{{dfsummary.max_coverage_tier2}}</span> <br />
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row" id="general_driver_coverage">
        <div class="col-md-1"></div>
        <div class="col-md-10 figures">
            <div class="panel panel-home">
                <div class="panel-heading" role="tab" id="drivers_head">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCoverage" aria-expanded="true" aria-controls="collapseCoverage">

                            {{dfsummary.panel_name}} mutational coverage

                        </a>
                    </h3>
                </div>
                <div id="collapseCoverage" class="panel-collapse collapse in" role="tabpanel" >
                    <div class="panel-body">

                        <div role="tabpanel">
                            <ul id="tabs1" class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#plottier1_1" aria-controls="plottier1_1" role="tab" data-toggle="tab" aria-expanded="true"><span style="font-size:12px;">Tier 1 cumulative plot</span>
                                <u><span data-toggle="tooltip" data-placement="right" style="cursor: pointer;" title="Plot of the mutational cumulative distribution (details in About) of Tier 1 genes/regions."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                </a></li>

                                {% if dfsummary.tier2 != 0 %}
                                <li role="presentation" class=""><a href="#plottier2_1" aria-controls="plottier2_1" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Tier 2 cumulative plot</span>
                               <u><span data-toggle="tooltip" data-placement="right" style="cursor: pointer;" title="Plot of the mutational cumulative distribution (details in About) of Tier 2 genes/regions."><span class="glyphicon glyphicon-info-sign"></span></span></u>

                                </a></li>
                                {% endif %}

                                <li role="presentation" class=""><a href="#tabletab" aria-controls="tabletab1" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Table</span></a></li>

                            </ul>
                            <br />
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="plottier1_1">
                                    <div id="lineplot1" style="min-width: 800px; margin: 0 auto"></div>
                                </div>

                                {% if dfsummary.tier2 != 0 %}
                                <div role="tabpanel" class="tab-pane" id="plottier2_1">
                                    <div id="lineplot2" style="min-width: 800px; margin: 0 auto"></div>
                                </div>
                                {% endif %}

                                <div role="tabpanel" class="tab-pane" id="tabletab" style="overflow:auto;">

                                    <table id="gene_coverage_table" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="overflow:auto;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Gene/region</th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Panel tier
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Genes tiered by their contribution to the cumulative distribution of mutations in the cohort (see details in About)."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Bp length gene/region
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Length, in base pairs, of the: (i) coding sequence of the gene or (ii) the gene region, always coding" <span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Cumulative mutational coverage
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Overall mutational coverage of the panel including each gene/region." <span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Cumulative KBps in panel
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Overall panel length, in kilo base pairs, including each gene/region" <span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Relevant mutations
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Types of relevant mutations located in the gene/regions. Relevant mutations are considered mutations validated as oncogenic or being associated to drug sensitivty or resistance, drug biomarkers. Relevant mutations details table contains the complete list of them"<span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>


                                                {% for ttype in dfsummary.ttype_select %}
                                                    <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">{{ttype}} coverage</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>

                                        <tbody>

                                            {% for data_table in data_to_table %}
                                                {% set outer_lopp = loop.index %}

                                                <tr role="row">
                                                    <td>{{ data_table['Gene'] }}</td>

                                                    <td class="sorting_1" align="center">
                                                        {% if data_table['Tier'] == "Tier1" %}
                                                            <span class="badge" style="background-color:#1a2e6e;">
                                                        {% elif data_table['Tier'] == "Tier2" %}
                                                            <span class="badge" style="background-color:rgba(26, 46, 110, 0.58);">
                                                        {% else %}
                                                            <span class="badge" style="background-color:rgba(26, 46, 110, 0.3);">
                                                        {% endif %}
                                                        {{ data_table['Tier'] }}</span>
                                                    </td>
                                                    <td align="center">{{ data_table['CDSlen'] }}</td>
                                                    <td class="sorting_1" align="center">{{ data_table['Cumulative']|round(3) }}</td>
                                                    <td align="center">{{ data_table['Kbp_cumulative'] }}</td>
                                                    <td align="center">
                                                        <a href="#relevant_muts" onclick="get_name_gene_{{outer_lopp}}()">
                                                            <script>
                                                                function get_name_gene_{{outer_lopp}}() {
                                                                    var data_table_relmut = $('#gene_relmuts_table').DataTable();
                                                                    data_table_relmut.search("{{ data_table['Gene'] }}");
                                                                    data_table_relmut.draw();
                                                                    if (data_table_relmut.$('tr', {"filter":"applied"}).length != 0) {
                                                                            $('#warning_datatable_relmut').hide();
                                                                    } else {
                                                                        $('#warning_datatable_relmut').show();
                                                                    }

                                                                }
                                                            </script>
                                                            {% if data_table['Known_count'] != 0 %}
                                                                 <span class="badge" style="background-color:#FFAD00;color:white">Onco</span>

                                                            {% endif %}

                                                            {% if data_table['DSens_count'] != 0 %}
                                                                 <span class="badge" style="background-color:#357D25;color:white">Resp</span>
                                                            {% endif %}

                                                            {% if data_table['DResis_count'] != 0 %}
                                                                 <span class="badge" style="background-color:#C10000;color:white">Resis</span>
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                    {% for ttype in dfsummary.ttype_select%}
                                                    <td align="center">{{ data_table[ttype]|round(3) }}</td>
                                                    {%  endfor %}
                                                    </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <br />

                                    <center><p><span class="badge" style="background-color:#FFAD00;color:white">
                                        <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mutations validated as oncogenic according ClinVar, Martelotto et al., DoCM and GDKD. See Tamborero et al.(in preparation) for more details." <span class="glyphicon glyphicon-info-sign"></span></u>
                                        Onco</span>&nbsp;Validated oncogenic&nbsp;
                                     <span class="badge" style="background-color:#357D25;color:white">
                                        <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mutations associated to drug response according clinical guidelines, clinical or pre-clinical assays. Data was collected from Cancer Drivers Actionability Database and Gene Drug Knowledge Database. An updated version of both of them was used, available in Tamborero et al. (in preparation)" <span class="glyphicon glyphicon-info-sign"></span></u>
                                         Resp</span>&nbsp;Drug responsive&nbsp;
                                     <span class="badge" style="background-color:#C10000;color:white">
                                        <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mutations associated to drug resistance according clinical guidelines, clinical or pre-clinical assays.Data was collected from Cancer Drivers Actionability Database and Gene Drug Knowledge Database. An updated version of both of them was used, available in Tamborero et al. (in preparation)" <span class="glyphicon glyphicon-info-sign"></span></u>
                                        Resis</span>&nbsp;Drug resistant&nbsp;
                                    </p></center>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    {% if dfsummary['DISMIS_CUM_MOREONEGENE'] != '1' %}
    <div class="row" id="multiple_driver_coverage">
        <div class="col-md-1"></div>
        <div class="col-md-10 figures">
            <div class="panel panel-home">
                <div class="panel-heading" role="tab" >
                    <h3 class="panel-title">
                        <a id="collapseMultiheader" href="#collapseMulti" aria-expanded="false" aria-controls="collapseMulti">
                             {{dfsummary.panel_name}} mutational coverage considering more than one gene per sample
                        </a>
                    </h3>
                </div>
                <div id="collapseMulti" role="tabpanel" class="collapse">
                    <div class="panel-body">

                        <div role="tabpanel">
                            <ul id="tabsmulti" class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#plottier1_3" aria-controls="plottier1_3" role="tab" data-toggle="tab" aria-expanded="true"><span style="font-size:12px;">Tier 1 cumulative plot</span>
                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Plot of the mutational cumulative distribution (details in About) of Tier 1 genes/regions."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                </a></li>

                                {% if dfsummary.tier2 != 0 %}
                                <li role="presentation" class=""><a href="#plottier2_3" aria-controls="plottier2_3" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Tier 2 cumulative plot</span>
                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Plot of the mutational cumulative distribution (details in About) of Tier 2 genes/regions"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                </a></li>
                                {% endif %}

                                <li role="presentation" class=""><a href="#tabletab_3" aria-controls="tabletab_3" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Table</span></a></li>

                            </ul>
                            <br />
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="plottier1_3">
                                    <div id="lineplot1_2" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
                                </div>

                                {% if dfsummary.tier2 != 0 %}
                                <div role="tabpanel" class="tab-pane" id="plottier2_3">
                                    <div id="lineplot2_2" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
                                </div>
                                {% endif %}

                                <div role="tabpanel" class="tab-pane" id="tabletab_3">

                                    <table id="gene_coverage_multi_table" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_multi_table"  align="center">Gene/region</th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_multi_table"  align="center">Panel tier
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Genes tiered by their contribution to the cumulative distribution of mutations in the cohort (see details in About)."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_multi_table"  align="center">Cumulative coverage 1 gene
                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Overall coverage of samples mutated in at least one of the genes/regions"<span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_multi_table"  align="center">Cumulative coverage 2 genes
                                                    <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Overall coverage of samples mutated in at least two of the genes/regions"<span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="gene_coverage_multi_table"  align="center">Cumulative coverage 3 genes
                                                    <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Overall coverage of samples mutated in at least three of the genes/regions"<span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                </th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for data_table in data_to_table %}
                                                <tr role="row">
                                                    <td>{{ data_table['Gene'] }}</td>
                                                    <td align="center">
                                                        {% if data_table['Tier'] == "Tier1" %}
                                                            <span class="badge" style="background-color:#1a2e6e;">
                                                        {% elif data_table['Tier'] == "Tier2" %}
                                                            <span class="badge" style="background-color:rgba(26, 46, 110, 0.58);">
                                                        {% else %}
                                                            <span class="badge" style="background-color:rgba(26, 46, 110, 0.3);">
                                                        {% endif %}
                                                        {{ data_table['Tier'] }}</span>
                                                    </td>
                                                    <td class="sorting_1" align="center">{{ data_table['Cumulative']|round(3) }}</td>
                                                    <td  align="center">{{ data_table['Cumulative_2']|round(3) }}</td>
                                                    <td  align="center">{{ data_table['Cumulative_3']|round(3) }}</td>
                                                    </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    {% endif %}

    <div class="row" id="gene_regions">
        <div class="col-md-1"></div>
        <div class="col-md-10 figures">
            <div class="panel panel-home">
                <div class="panel-heading" role="tab" i>
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseRegion" aria-expanded="true" aria-controls="collapseRegion">
                             Tier 1 & 2 candidates: mutations details</a>
                    </h3>
                </div>
                <div id="collapseRegion" role="tabpanel" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div role="tabpanel">
                            <ul id="tabsr_tiers" class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#tier1_regions" aria-controls="tier1_regions" role="tab" data-toggle="tab" aria-expanded="true"><span style="font-size:12px;">Tier 1</span></a></li>
                                <li role="presentation" class=""><a href="#tier2_regions" aria-controls="tier2_regions" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Tier 2</span></a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tier1_regions" >
                                    <br />
                                    <p class="hidden-xs hidden-sm" style="color:#000000;font-weight:normal; font-size:14px;">Select a gene:
                                        <select id="distribution_transcript1">

                                                {% for gene in data_to_plot_regions['Tier1']|sort %}
                                                    {% if loop.index == 1 %}
                                                        <option selected value={{gene}}>
                                                    {% else %}
                                                        <option value={{gene}}>
                                                    {% endif %}

                                                    {{gene}}

                                                    {% if gene_region_criteria[gene] != "whole_gene" %}
                                                    *
                                                    {% endif %}

                                                    {% for g in data_to_table_genes %}
                                                        {% if g['Gene symbol'] ==  gene %}
                                                            ({{ g['ENST'] }})
                                                        {% endif %}
                                                    {% endfor %}
                                                    </option>

                                                {% endfor %}
                                                {% for g in data_to_table_genes %}
                                                    {% if g['Gene symbol'] ==  gene %}
                                                     {{ g['ENST'] }}
                                                    {% endif %}

                                                {% endfor %}
                                        </select>

                                     </p>

                                    <p class="help-block" style="font-size:12px;">* Gene with high density mutation hotspots identified</p>


                                    <div role="tabpanel">
                                        <ul id="subtabsr_tier1" class="nav nav-pills" role="tablist">
                                            <li role="presentation" class="active"><a href="#needle_hs1" aria-controls="needle_hs1" role="tab" data-toggle="tab" aria-expanded="true"><span style="font-size:12px;">Mutations plot</span></a></li>
                                            <li role="presentation" class=""><a href="#tabletab_hsdetails1" aria-controls="tabletab_hsdetails1" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Table: regions details</span></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="needle_hs1" >
                                                    <div class="row">
                                                        <div id="mutsplot_chart1" style="min-width: 500px; max-width: 1000px; margin: 0 auto"> </div>
                                                    </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="tabletab_hsdetails1">
                                                <br />
                                                <div id="warning_datatable1" style="display:none;">
                                                <p class="alert alert-warning" style="padding-left:20px;">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <strong>This table only contains data for genes with high mutation density regions</strong>
                                                </p></div>

                                                <table id="regions_detail_table1" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Gene</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Exon</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Protein coords</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Bp length</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Mutations count
                                                            <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Number of samples with mutations in the region"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Mutations proportion
                                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Proportion of mutations located in the region from the total of mutations in the gene"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">CDS proportion
                                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Proportion of base pairs from whole gene coding sequence covered by the region"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Genomic coords
                                                            </th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for data_table in data_to_table_regions %}
                                                            <tr role="row">
                                                                <td>{{ data_table['Gene symbol'] }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['EXON'] }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['CLUSTER_PROTEIN_COORDS'] }}</td>
                                                                <td align="center">{{ data_table['CLUSTER_LENGTH'] }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['MUTATION_COUNT']|round(3) }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['MUTATION_FREQ']|round(3) }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['CDS_PROPORTION']|round(3) }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['CLUSTER_GENOMIC_COORDS'] }}</td>
                                                                </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="tier2_regions">
                                    <br />
                                     <p class="hidden-xs hidden-sm" style="color:#000000;font-weight:normal; font-size:14px;">Select a gene:
                                        <select id="distribution_transcript2">

                                                {% for gene in data_to_plot_regions['Tier2']|sort %}
                                                    {% if loop.index == 1 %}
                                                        <option selected value={{gene}}>
                                                    {% else %}
                                                        <option value={{gene}}>
                                                    {% endif %}

                                                    {{gene}}
                                                    {% if gene_region_criteria[gene] != "whole_gene" %}
                                                    *
                                                    {% endif %}
                                                    {% for g in data_to_table_genes %}
                                                        {% if g['Gene symbol'] ==  gene %}
                                                            ({{ g['ENST'] }})
                                                        {% endif %}
                                                    {% endfor %}

                                                    </option>

                                                {% endfor %}
                                        </select>
                                     </p>
                                    <p class="help-block" style="font-size:12px;">* Gene with high density mutation regions identified</p>

                                    <div role="tabpanel">
                                        <ul id="subtabsr_tier2" class="nav nav-pills" role="tablist">
                                            <li role="presentation" class="active"><a href="#needle_hs2" aria-controls="needle_hs2" role="tab" data-toggle="tab" aria-expanded="true"><span style="font-size:12px;">Mutations plot</span></a></li>
                                            <li role="presentation" class=""><a href="#tabletab_hsdetails2" aria-controls="tabletab_hsdetails2" role="tab" data-toggle="tab" aria-expanded="false"><span style="font-size:12px;">Table: regions details</span></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="needle_hs2" >
                                                <div class="row">
                                                    <div id="mutsplot_chart2" style="min-width: 500px; max-width: 1000px; margin: 0 auto"> </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="tabletab_hsdetails2">
                                                <br />
                                                <div id="warning_datatable2" style="display:none;">
                                                <p class="alert alert-warning" style="padding-left:20px;">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <strong>This table only contains data for genes with high mutation density regions</strong>
                                                </p></div>
                                                <table id="regions_detail_table2" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Gene</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Exon</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Protein coords</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Bp length</th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Mutations count
                                                            <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Number of samples with mutations in the region"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Mutations proportion
                                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Proportion of mutations located in the region from the total of mutations in the gene"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">CDS proportion
                                                                <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Proportion of base pairs from whole gene coding sequence covered by the region"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Genomic coords
                                                            </th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for data_table in data_to_table_regions %}
                                                            <tr role="row">
                                                                <td>{{ data_table['Gene symbol'] }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['EXON'] }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['CLUSTER_PROTEIN_COORDS'] }}</td>
                                                                <td align="center">{{ data_table['CLUSTER_LENGTH'] }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['MUTATION_COUNT']|round(3) }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['MUTATION_FREQ']|round(3) }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['CDS_PROPORTION']|round(3) }}</td>
                                                                <td class="sorting_1" align="center">{{ data_table['CLUSTER_GENOMIC_COORDS'] }}</td>
                                                                </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    {% if dfsummary['DISMIS_DRUGS'] != '1' %}
    <div class="row" id="relevant_muts">
        <div class="col-md-1"></div>
        <div class="col-md-10 figures">
            <div class="panel panel-home">
                <div class="panel-heading" role="tab">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseRelevant" aria-expanded="true" aria-controls="collapseRelevant">
                            Tier 1 & 2 candidates: relevant mutations details
                        </a>
                    </h3>
                </div>
                <div id="collapseRelevant" class="panel-collapse collapse in" role="tabpanel" >
                    <div class="panel-body">
                        <br />
                        <div role="tabpanel" class="tab-pane" id="tabletab_relmut" style="overflow:auto;">
                            <table id="gene_relmuts_table" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="overflow:auto;">
                                <thead>
                                    <tr role="row">
                                        <th align="center">Gene/region</th>
                                        <th  align="center">Panel tier
                                        <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Genes tiered by their contribution to the cumulative distribution of mutations in the cohort (see details in About)."><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </th>
                                        <th align="center">Mutation
                                        <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Identity of the validated oncogenic or drug response biomarker mutations present in tumors in the cohort in genes/regions included in the panel."><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </th>
                                        <th  align="center">Mutation type
                                        <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Known effect of the mutation (oncogenic or biomarker of drug response or resistance)."><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </th>
                                        <th  align="center">Drugs
                                        <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Drug with response affected by the biomarker mutation"><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </th>
                                        <th  align="center">Number of mutated tumors
                                        <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Number of tumors in the cohort with the validated oncogenic or drug response biomarker mutation."><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </th>
                                        </th>
                                        <th align="center">Fraction of mutated tumors
                                        <span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Fraction of tumors in the cohort with the validated oncogenic or drug response biomarker mutation."><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>

                                    {% for data in prescriptions_table %}
                                        {% if data['MUT_COUNT']|string != '0' %}
                                            {% set outer_lopp = loop.index %}

                                            <tr role="row">
                                                <td>{{ data['Gene symbol'] }}</td>
                                                <td align="center">
                                                    {% if data['Tier'] == "Tier1" %}
                                                        <span class="badge" style="background-color:#1a2e6e;">
                                                    {% elif data['Tier'] == "Tier2" %}
                                                        <span class="badge" style="background-color:rgba(26, 46, 110, 0.58);">
                                                    {% else %}
                                                        <span class="badge" style="background-color:rgba(26, 46, 110, 0.3);">
                                                    {% endif %}
                                                    {{ data['Tier'] }}</span>
                                                </td>

                                                <td align="center">{{ data['BIOMARKER'] }}</td>
                                                <td align="center">
                                                        {% if data['GENERAL_ASSOCIATION'] == 'Sensitivity' %}
                                                             <span class="badge" style="background-color:#357D25;color:white"><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mutations associated to drug response according clinical guidelines, clinical or pre-clinical assays. Data was collected from Cancer Drivers Actionability Database and Gene Drug Knowledge Database. An updated version of both of them was used, available in Tamborero et al. (in preparation)">Drug responsive</span></span>
                                                        {% endif %}

                                                        {% if data['GENERAL_ASSOCIATION'] == 'Known oncogeneicity' %}
                                                            <span class="badge" style="background-color:#FFAD00;color:white"><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mutations validated as oncogenic according ClinVar, Martelotto et al., DoCM and GDKD. See Tamborero et al.(in preparation) for more details.">Oncogenic </span></span>
                                                            <a style="color:#333333;cursor:pointer;" data-toggle="popover" title="" data-content="{{ data['BIOMARKER'] }} has been evidenced in {{ data['EVIDENCES_TTYPE'] }}"><span class="glyphicon glyphicon-zoom-in"></span></a>

                                                        {% endif %}

                                                        {% if data['GENERAL_ASSOCIATION'] == 'Resistance' %}
                                                              <span class="badge" style="background-color:#C10000;color:white"><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mutations described to generate resistance to drugs according clinical guidelines, clinical or pre-clinical assays.Data was collected from Cancer Drivers Actionability Database and Gene Drug Knowledge Database. An updated version of both of them was used, available in Tamborero et al. (in preparation)">Drug resistant</span></span>
                                                        {% endif %}
                                                </td>
                                                {% if data['GENERAL_ASSOCIATION'] != 'Known oncogeneicity' %}
                                                <td align="center">{{ data['DRUG'] }}
                                                    <a style="color:#333333;cursor:pointer;" data-toggle="popover" title="" data-content="The association of {{ data['DRUG'] }} {{ data['ASSOCIATION'] }} with {{ data['BIOMARKER'] }} has been evidenced in {{ data['EVIDENCES_TTYPE'] }}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                                                </td>
                                                {% else %}
                                                    <td align="center"></td>
                                                {% endif %}
                                                <td align="center">{{ data['MUT_COUNT'] }}</td>
                                                <td align="center">{{ data['MUT_PROP'] }}</td>

                                            </tr
                                        {% endif %}
                                    {% endfor %}

                                </tbody>
                            </table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    {% endif %}

    <div class="row" id="gene_characterization">
            <div class="col-md-1"></div>
            <div class="col-md-10 figures">
                <div class="panel panel-home">
                    <div class="panel-heading" role="tab" id="table2_head">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" href="#collapseGeneFeat" aria-expanded="false" aria-controls="collapseGeneFeat">
                                 Tier 1 & 2 candidates: general features
                            </a>
                        </h3>
                    </div>
                    <div class="collapse" id="collapseGeneFeat">
                        <div class="panel-body">
                            <div role="tabpanel">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tabletab_features">
                                        <br />
                                        <table id="gene_attribute_table" class="display dataTable" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="gene_attribute_table"  align="center">Gene</th>
                                                    <th class="sorting" tabindex="0" aria-controls="gene_attribute_table"  align="center">Panel tier
                                                    <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Genes tiered by their contribution to the cumulative distribution of mutations in the cohort (see details in About)."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="gene_attribute_table"  align="center">Driver mode of action
                                                        <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Mode of action of the driver gene in tumorigenesis."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="gene_attribute_table"  align="center">Driver source
                                                        <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Source of the driver gene (see About for details)."><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="gene_attribute_table"  align="center">Major driver
                                                        <u><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Cancer types where mutations in the gene show a trend towards being clonal"><span class="glyphicon glyphicon-info-sign"></span></span></u>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for data_table in data_to_table_genes %}
                                                    {% if data_table['Tier'] != "Tier3" %}
                                                        <tr role="row">
                                                            <td>{{ data_table['Gene symbol'] }}</td>
                                                            <td class="sorting_1" align="center">
                                                                {% if data_table['Tier'] == "Tier1" %}
                                                                    <span class="badge" style="background-color:#1a2e6e;">
                                                                {% elif data_table['Tier'] == "Tier2" %}
                                                                    <span class="badge" style="background-color:rgba(26, 46, 110, 0.58);">
                                                                {% elif data_table['Tier'] == "Tier1&Tier2" %}
                                                                    <span class="badge" style="background-color:rgba(26, 46, 110, 0.58);">
                                                                {% else %}
                                                                    <span class="badge" style="background-color:rgba(26, 46, 110, 0.3);">
                                                                {% endif %}
                                                                {{ data_table['Tier'] }}</span>
                                                            </td>

                                                            <td class="sorting_1" align="center">{{ data_table['Role'] }}</td>
                                                            <td class="sorting_1" align="center">{{ data_table['Driver origin str'] }}
                                                            </td>
                                                            <td  align="center"><span data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="{{ data_table['Clonal_ttype_fullname'] }}">{{ data_table['Clonal_ttype'] }}</span></td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

</div>

<div id="printView" class="container-fluid" style="display:none;">
        <div>
            <p style="text-align:right;">
            <img width="20%" src="images/logo_blue.png" />
            </p>
            <p style="text-align:justify;">
                {{dfsummary.panel_name}} was designed to cover
                {% if dfsummary.ttype_desc_long != 'FALSE' %}
                    <u data-toggle="tooltip" data-placement="right" style="cursor: pointer;max-width: 280px;" title="{{dfsummary.ttype_desc_long}}">{{dfsummary.ttype_desc_short}}.</u>
                {% else %}
                    {{dfsummary.ttype_desc_short}}.
                {% endif %}
                A total of {{dfsummary.panel_candidates}} genes were considered as candidates to generate the panel.

                {% if dfsummary.mandatory_genes %}
                {{dfsummary.mandatory_genes}} included as specified by the user.
                {%endif%}
                {% if dfsummary.genes_not_mutated %}
                However, {{dfsummary.genes_not_mutated}} not mutated in the panel cohort.
                {%endif%}

                {% if dfsummary.excluded_genes %}
                {{dfsummary.excluded_genes}} excluded as specified by the user.


                {%endif%}

            </p>
            <p style="text-align:justify;">
                {% if dfsummary.max_g %}
                The total number of genes included in the panel was set by user to {{dfsummary.max_g}}.
                {% endif %}
                {% if dfsummary.max_kbp %}
                The total number of kilo base pairs included in the panel was set by user to {{dfsummary.max_kbp}}.
                {% endif %}
            </p>

            <p style="text-align:justify;">
                The panel designed by OncoPaD, considering only Tier 1 genes, contains {{dfsummary.max_kbp_tier1}} kilo base pairs from {{dfsummary.tier1}} different genes/high mutation density gene regions.
                This panel covers the {{dfsummary.max_coverage_tier1}} of the {{dfsummary.total_samples}} samples analyzed.
            </p>
            <hr>

            <h4><strong>Tier 1 genes mutational coverage</strong></h4>
            <div id="lineplot1_toprint" style="min-width: 800px; margin: 0 auto"></div>
            <br />

            <table  class="gridtable">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Gene/region</th>
                        <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Bp length gene/region</th>
                        <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Cumulative mutational coverage</th>
                        <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Cumulative KBps in panel</th>
                        <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">Relevant mutations</th>

                        {% for ttype in dfsummary.ttype_select %}
                            <th class="sorting" tabindex="0" aria-controls="gene_coverage_table"  align="center">{{ttype}} coverage</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>

                    {% for data_table in data_to_table %}
                        {% if data_table['Tier'] == "Tier1" %}
                        <tr role="row">
                            <td>{{ data_table['Gene'] }}</td>
                            <td align="center">{{ data_table['CDSlen'] }}</td>
                            <td align="center">{{ data_table['Cumulative']|round(3) }}</td>
                            <td align="center">{{ data_table['Kbp_cumulative'] }}</td>
                            <td align="center">
                                    {% if data_table['Known_count'] != 0 %}
                                        <span class="badge" style="background-color:#686868;color:white">{{data_table['Known_count']}} Onco</span></a>
                                    {% endif %}

                                    {% if data_table['DSens_count'] != 0 %}
                                         <span class="badge" style="background-color:#4D9A6A;color:white">{{data_table['DSens_count']}} Resp</span></a>
                                    {% endif %}

                                    {% if data_table['DResis_count'] != 0 %}
                                         <span class="badge" style="background-color:#801515;color:white">{{data_table['DResis_count']}} Resis</span></a>
                                    {% endif %}
                            </td>
                            {% for ttype in dfsummary.ttype_select%}
                            <td align="center">{{ data_table[ttype]|round(3) }}</td>
                            {%  endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <br />
            <div style="text-align: center">
            <p><span class="badge" style="background-color:#686868;color:white">
                Onco</span>&nbsp;Validated oncogenic&nbsp;
             <span class="badge" style="background-color:#4D9A6A;color:white">
                 Resp</span>&nbsp;Drug responsive&nbsp;
             <span class="badge" style="background-color:#801515;color:white">
                Resis</span>&nbsp;Drug resistant&nbsp;
            </p></div>

            {% if dfsummary['DISMIS_CUM_MOREONEGENE'] != '1' %}
            <br /><hr>
            <h4><strong>Tier 1 genes mutational coverage considering more than one gene per sample</strong></h4>
            <div id="lineplot1_2_toprint" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
            <br />
            <table  class="gridtable">
                <thead>
                    <tr >
                        <th align="center">Gene/region</th>
                        <th align="center">Cumulative coverage 1 gene
                        </th>
                        <th align="center">Cumulative coverage 2 genes
                        </th>
                        <th  align="center">Cumulative coverage 3 genes
                        </th>

                    </tr>
                </thead>

                <tbody>
                    {% for data_table in data_to_table %}
                        {% if data_table['Tier'] == "Tier1" %}
                        <tr r>
                            <td>{{ data_table['Gene'] }}</td>
                            <td  align="center">{{ data_table['Cumulative']|round(3) }}</td>
                            <td  align="center">{{ data_table['Cumulative_2']|round(3) }}</td>
                            <td  align="center">{{ data_table['Cumulative_3']|round(3) }}</td>
                            </tr>
                    {% endif %}{% endfor %}

                </tbody>
            </table>
            {% endif %}
            <br /><hr>
            <h4><strong>Tier 1 genes: region details</strong></h4>
            <table  class="gridtable">
                <thead>
                    <tr >
                        <th  align="center">Gene</th>
                        <th align="center">Exon</th>
                        <th align="center">Protein coords</th>
                        <th  align="center">Bp length</th>
                        <th  align="center">Mutations count
                        </th>
                        <th align="center">Mutations proportion
                        </th>
                        <th   align="center">CDS proportion
                        </th>
                        <th  align="center">Genomic coords
                        </th>


                    </tr>
                </thead>
                <tbody>
                    {% for data_table in data_to_table_regions %}
                        {% if data_table['Tier']=="Tier1" %}
                        <tr style="padding-left:10px;">
                            <td>{{ data_table['Gene symbol'] }}</td>
                            <td  align="center">{{ data_table['EXON'] }}</td>
                            <td  align="center">{{ data_table['CLUSTER_PROTEIN_COORDS'] }}</td>
                            <td align="center">{{ data_table['CLUSTER_LENGTH'] }}</td>
                            <td align="center">{{ data_table['MUTATION_COUNT']|round(3) }}</td>
                            <td  align="center">{{ data_table['MUTATION_FREQ']|round(3) }}</td>
                            <td  align="center">{{ data_table['CDS_PROPORTION']|round(3) }}</td>
                            <td  align="center">{{ data_table['CLUSTER_GENOMIC_COORDS'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <br /><hr>
            {% if dfsummary['DISMIS_DRUGS'] != '1' %}
            <h4><strong>Tier 1 genes: relevant mutations details</strong></h4>
            <table  class="gridtable">
                <thead>
                    <tr role="row">
                        <th align="center">Gene/region</th>
                        <th align="center">Mutation</th>
                        <th align="center">Mutation type</th>
                        <th align="center">Drugs</th>
                        <th align="center">Number of mutations</th>
                        <th align="center">Proportion of mutations</th>
                    </tr>
                </thead>

                <tbody>

                    {% for data in prescriptions_table %}
                        {% set outer_lopp = loop.index %}

                        <tr role="row">
                            <td>{{ data['Gene symbol'] }}</td>
                            <td align="center">{{ data['BIOMARKER'] }}</td>
                            <td align="center">
                                    {% if data['GENERAL_ASSOCIATION'] == 'Sensitivity' %}
                                         <span class="badge" style="background-color:#4D9A6A;color:white">Drug responsive</span>
                                    {% endif %}

                                    {% if data['GENERAL_ASSOCIATION'] == 'Known oncogeneicity' %}
                                        <span class="badge" style="background-color:#686868;color:white">Oncogenic </span>
                                    {% endif %}

                                    {% if data['GENERAL_ASSOCIATION'] == 'Resistance' %}
                                          <span class="badge" style="background-color:#801515;color:white">Drug resistant</span>
                                    {% endif %}
                            </td>
                            {% if data['GENERAL_ASSOCIATION'] != 'Known oncogeneicity' %}
                            <td align="center">{{ data['DRUG'] }}</td>
                            {% else %}
                                <td align="center"></td>
                            {% endif %}
                            <td align="center">{{ data['MUT_COUNT'] }}</td>
                            <td align="center">{{ data['MUT_PROP'] }}</td>

                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}

            <br /><hr>
            <h4><strong>Tier 1 genes: general features</strong></h4>
             <table class="gridtable">
                    <thead>
                        <tr role="row">
                            <th align="center">Gene</th>
                            <th align="center">Panel tier</th>
                            <th align="center">Role in cancer</th>
                            <th align="center">Driver source</th>
                            <th align="center">Cancer types where mutated in major clone</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for data_table in data_to_table_genes %}
                            {% if data_table['Tier'] != "Tier3" and data_table['Tier'] != "Tier2" %}
                                <tr role="row">
                                    <td>{{ data_table['Gene symbol'] }}</td>
                                    <td class="sorting_1" align="center">
                                        {% if data_table['Tier'] == "Tier1" %}
                                            <span class="badge" style="background-color:#b27300;">
                                        {% elif data_table['Tier'] == "Tier2" %}
                                            <span class="badge" style="background-color:#ffa500;">
                                        {% else %}
                                            <span class="badge" style="background-color:#ffdb99;color:#333333;">
                                        {% endif %}
                                        {{ data_table['Tier'] }}</span>
                                    </td>

                                    <td class="sorting_1" align="center">
                                        {% if data_table['Role'] == "Activating" %}
                                            <span class="badge" style="background-color:#084080;">
                                        {% elif data_table['Role'] == "Loss of function" %}
                                            <span class="badge" style="background-color:#6AAFD6;">
                                        {% else %}
                                            <span class="badge" style="background-color:#E5E5E5;color:#333333;">
                                        {% endif %}
                                    {{ data_table['Role'] }}</span>
                                    </td>
                                    <td class="sorting_1" align="center">
                                        {% for source in data_table['Driver origin'] %}
                                            {{ source }}&nbsp;
                                        {% endfor %}


                                    </td>
                                    <td>{{ data_table['Clonal_ttype'] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
             </table>
        </div>
</div>


{% endblock %}

{% block scripts %}
    {{ super()}}

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="static/js/build/muts-needle-plot.js"></script>
    <script src="static/js/src/js/dependencies/d3.js" charset="utf-8"></script>
    <script src="static/js/src/js/dependencies/underscore.js" charset="utf-8"></script>
    <script src="static/js/src/js/d3-svg-legend.js" charset="utf-8"></script>


<script src="static/js/datatables_init.js"></script>

<script type="text/javascript" id="cumulative"  >
$(function () {

    common_plot = {
        colors:['#000000','#4bb2c5','#eaa228','#c5b47f','#2c6310','#958c12','#953579','#c12e2e','#4b5de4','#d8b83f','#ff5800','#006ffc','#c747a3','#cddf54','#fbd178','#26b4e3','#6f1814','#abdbeb','#40d800','#8aff00','#d9eb00','#ffff71','#ae97f6','#498991','#c08840','#9f9274','#f441f9','#646c4a','#6d39eb'],

        title: {
            text: 'Cumulative mutational coverage distribution',
            x: -20 //center
        },
        subtitle: {
            text: 'How much each gene increases the sample coverage of {% if dfsummary.ttype_select|length > 9 %}{{dfsummary.ttype_select[0:8]|join(', ')}},...',{% else %}{{dfsummary.ttype_select|join(', ')}}',{% endif %}
            x: -20
        },
        yAxis: {
            title: {
                text: '# samples with mutations in gene / total samples ({{dfsummary.total_samples}})'
            },
            min:0,
            max:1,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '',
            valueDecimals: 4

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        }
    };

    $('#lineplot1').highcharts({
        colors:common_plot['colors'], title: common_plot['title'], subtitle: common_plot['subtitle'], yAxis: common_plot['yAxis'], legend: common_plot['legend'],
        xAxis: {
            categories: {{ data_to_plot['Tier1']['Genes'] }}
        },
        series: [
            {
            name: 'Cumulative coverage (all) ',
            data: {{ data_to_plot['Tier1']['Cumulative'] }},
            lineWidth: 4,
            marker: {
                    radius: 5
                }
            }

            {% for ttype in data_to_plot['Tier1']['Frequency'] %}
               , {
                name: 'Coverage in {{ ttype }}',
                data: {{ data_to_plot['Tier1']['Frequency'][ttype] }}
                }
            {% endfor %}
        ]
    });


    draw_plot_1 = function () {
        $('#lineplot2').highcharts({
            colors:common_plot['colors'], title: common_plot['title'], subtitle: common_plot['subtitle'], yAxis: common_plot['yAxis'], legend: common_plot['legend'],
            xAxis: {
                categories: {{ data_to_plot['Tier2']['Genes'] }}
            },
            series: [
                {
                name: 'Cumulative coverage (all cancer types) ',
                data: {{ data_to_plot['Tier2']['Cumulative'] }},
                lineWidth: 4,
                marker: {
                        radius: 5
                    }
                }

                {% for ttype in data_to_plot['Tier2']['Frequency'] %}
                   , {
                    name: 'Coverage in {{ ttype }}',
                    data: {{ data_to_plot['Tier2']['Frequency'][ttype] }}
                    }
                {% endfor %}
            ]
        });
    }

    gene_freq_lineplot = false;
    $('#tabs1 a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                //initiate gene frequency plot
                if ($(this).tab()[0].hash == '#plottier2_1' && gene_freq_lineplot != true) {
                    draw_plot_1();
                    gene_freq_lineplot = true
                }

            })
}

);
</script>

<script type="text/javascript" id="cumulative_more1gene">
$(function () {
    $('#collapseMulti').collapse('hide')

    $('#collapseMultiheader').click(function (e) {
        var $this = $(this);
        if ($this.hasClass("clicked-once")) {
            $('#collapseMulti').collapse('hide')
            $this.removeClass("clicked-once");

        } else {
            $('#collapseMulti').collapse('show')
            $('#lineplot1_2').highcharts({
            colors:['#000000','#878787','#BABABA'],

            title: {
                text: 'Cumulative sample mutational coverage distribution considering more than one gene',
                x: -20 //center
            },
            subtitle: {
                text: 'Which is the cumulative coverage when considering 1, 2 or 3 mutated genes per sample',
                x: -20
            },
            yAxis: {
                title: {
                    text: '# samples with mutations in gene / total samples ({{dfsummary.total_samples}})'
                },
                min:0,
                max:1,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '',
                valueDecimals: 4

            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            xAxis: {
                categories: {{ data_to_plot['Tier1']['Genes'] }}
            },
            series: [
                    {
                    name: 'Cumulative coverage 1 gene / sample ',
                    data: {{ data_to_plot['Tier1']['Cumulative'] }}
                    },

                    {
                    name: 'Cumulative coverage 2 genes / sample ',
                    data: {{ data_to_plot['Tier1']['Cumulative_2'] }}
                    },

                    {
                    name: 'Cumulative coverage 3 genes / sample ',
                    data: {{ data_to_plot['Tier1']['Cumulative_3'] }}
                    }
            ]
        });
             $this.addClass("clicked-once");
        }

    });

    gene_freq_multi_plotted = false;

    $('#tabsmulti a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                //initiate gene frequency plot
                if ($(this).tab()[0].hash == '#plottier2_3' && gene_freq_multi_plotted != true) {
                    $('#lineplot2_2').highcharts({
                        colors:['#000000','#878787','#BABABA'],
                        title: {
                            text: 'Cumulative sample mutational coverage considering more than one gene',
                            x: -20 //center
                        },
                        subtitle: {
                            text: 'Which is the cumulative coverage when considering 1, 2 or 3 mutated genes per sample',
                            x: -20
                        },
                        yAxis: {
                            title: {
                                text: '# samples with mutations in gene / total samples ({{dfsummary.total_samples}})'
                            },
                            min:0,
                            max:1,
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: '',
                            valueDecimals: 4

                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        xAxis: {
                            categories: {{ data_to_plot['Tier2']['Genes'] }}
                        },
                        series: [
                            {
                            name: 'Cumulative coverage 1 gene / sample ',
                            data: {{ data_to_plot['Tier2']['Cumulative'] }}
                            },

                            {
                            name: 'Cumulative coverage 2 genes / sample ',
                            data: {{ data_to_plot['Tier2']['Cumulative_2'] }}
                            },

                            {
                            name: 'Cumulative coverage 3 genes / sample ',
                            data: {{ data_to_plot['Tier2']['Cumulative_3'] }}
                            }

                        ]
                    });
                    gene_freq_multi_plotted = true
                }
    })

}

);
</script>

<script type="text/javascript" id="cumulative_toprint"  >
$(function () {

    common_plot = {
        colors:['#000000','#4bb2c5','#eaa228','#c5b47f','#2c6310','#958c12','#953579','#c12e2e','#4b5de4','#d8b83f','#ff5800','#006ffc','#c747a3','#cddf54','#fbd178','#26b4e3','#6f1814','#abdbeb','#40d800','#8aff00','#d9eb00','#ffff71','#ae97f6','#498991','#c08840','#9f9274','#f441f9','#646c4a','#6d39eb'],

        title: {
            text: 'Cumulative mutational coverage distribution',
            x: -20 //center
        },
        subtitle: {
            text: 'How much each gene increases the sample coverage of {% if dfsummary.ttype_select|length > 9 %}{{dfsummary.ttype_select[0:8]|join(', ')}},...',{% else %}{{dfsummary.ttype_select|join(', ')}}',{% endif %}

            x: -20
        },
        yAxis: {
            title: {
                text: '# samples with mutations in gene / total samples ({{dfsummary.total_samples}})'
            },
            min:0,
            max:1,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '',
            valueDecimals: 4

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        }
    };

    $('#lineplot1_toprint').highcharts({
        colors:common_plot['colors'], title: common_plot['title'], subtitle: common_plot['subtitle'], yAxis: common_plot['yAxis'], legend: common_plot['legend'],
        xAxis: {
            categories: {{ data_to_plot['Tier1']['Genes'] }}
        },
        series: [
            {
            name: 'Cumulative coverage (all) ',
            data: {{ data_to_plot['Tier1']['Cumulative'] }},
            lineWidth: 4,
            marker: {
                    radius: 5
                }
            }

            {% for ttype in data_to_plot['Tier1']['Frequency'] %}
               , {
                name: 'Coverage in {{ ttype }}',
                data: {{ data_to_plot['Tier1']['Frequency'][ttype] }}
                }
            {% endfor %}
        ]
    });


}

);
</script>

<script type="text/javascript" id="cumulative_more1gene_toprint">
$(function () {

    $('#lineplot1_2_toprint').highcharts({
        colors:['#000000','#878787','#BABABA'],

        title: {
            text: 'Cumulative sample mutational coverage distribution considering more than one gene',
            x: -20 //center
        },
        subtitle: {
            text: 'Which is the cumulative coverage when considering 1, 2 or 3 mutated genes per sample',
            x: -20
        },
        yAxis: {
            title: {
                text: '# samples with mutations in gene / total samples ({{dfsummary.total_samples}})'
            },
            min:0,
            max:1,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '',
            valueDecimals: 4

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        xAxis: {
            categories: {{ data_to_plot['Tier1']['Genes'] }}
        },
        series: [
                {
                name: 'Cumulative coverage 1 gene / sample ',
                data: {{ data_to_plot['Tier1']['Cumulative'] }}
                },

                {
                name: 'Cumulative coverage 2 genes / sample ',
                data: {{ data_to_plot['Tier1']['Cumulative_2'] }}
                },

                {
                name: 'Cumulative coverage 3 genes / sample ',
                data: {{ data_to_plot['Tier1']['Cumulative_3'] }}
                }
        ]
    });





}

);
</script>

<script type="text/javascript">

var showPrint = function() {
    $('#realView').hide();
    $('#printView').show();
    window.print();
    $('#printView').hide();
    $('#realView').show();
};

window.onafterprint = function(){
    $('#printView').hide();
    $('#realView').show();
}

$(window).on('load', function(){
	$(".loader").fadeOut("slow");
})
</script>


    <script>
    $(function () {

        var regions_data = {};
        {% for gene in data_to_plot_regions['Tier1']|sort %}
            {% if loop.index == 1 %}
                var gene_js = '{{gene}}';
            {% endif %}
            regions_data['{{gene}}'] = {{data_to_plot_regions['Tier1'][gene]}};
        {% endfor %}

        plot_needle_plot = function(selected_gene) {
            $("#mutsplot_chart2").html('');
            $("#mutsplot_chart2").empty();
            $("#mutsplot_chart1").html('');
            $("#mutsplot_chart1").empty();
            $("div" ).remove(".d3-tip");

            legends = {
                x: "Protein positions",
                y: "Mutations of "+selected_gene+" in panel cohort"
            };


            //Crate config Object
            plotConfig = {
                maxCoord :      regions_data[selected_gene]['maxcoord'],
                minCoord :      0,
                height:         450,
                targetElement : "mutsplot_chart1",
                mutationData:   regions_data[selected_gene]['muts'],
                regionData:     regions_data[selected_gene]['regions'],
                colorMap:       {"missense_variant": "#069788","frameshift_variant": "#6034B3","stop_gained": "#FF5A00","stop_lost":"#FF9900"},
                legends:        legends,
                colorRegion:    "black"
                        };

             // Instantiate a plot
             MutsNeedlePlot = require("muts-needle-plot");
             p1 = new MutsNeedlePlot(plotConfig);

        };

        $('#distribution_transcript1').on('change', function() {
            plot_needle_plot(this.value);
            var data_table = $('#regions_detail_table1').DataTable();
            var rs = data_table.search(this.value);
            data_table.draw();
            if (data_table.$('tr', {"filter":"applied"}).length != 0) {
                $('#warning_datatable1').hide();
            } else {
                $('#warning_datatable1').show();
            }
        });

        plot_needle_plot(gene_js);
        var data_table = $('#regions_detail_table1').DataTable();
        data_table.search(gene_js);
        data_table.draw();
        if (data_table.$('tr', {"filter":"applied"}).length != 0) {
                $('#warning_datatable1').hide();
        } else {
            $('#warning_datatable1').show();
        }

        var regions_data2 = {};
        {% for gene in data_to_plot_regions['Tier2']|sort %}
            {% if loop.index == 1 %}
                var gene_js2 = '{{gene}}';
            {% endif %}
            regions_data2['{{gene}}'] = {{data_to_plot_regions['Tier2'][gene]}};
        {% endfor %}

        plot_needle_plot2 = function(selected_gene2) {
            $("#mutsplot_chart1").html('');
            $("#mutsplot_chart1").empty();
            $("#mutsplot_chart2").html('');
            $("#mutsplot_chart2").empty();
            $("div" ).remove(".d3-tip");

            legends = {
                x: "Protein positions",
                y: "Mutations of "+selected_gene2+" in panel cohort"
            };


            //Crate config Object
            plotConfig2 = {
                maxCoord :      regions_data2[selected_gene2]['maxcoord'],
                minCoord :      0,
                height:         450,
                targetElement : "mutsplot_chart2",
                mutationData:   regions_data2[selected_gene2]['muts'],
                regionData:     regions_data2[selected_gene2]['regions'],
                colorMap:       {"missense_variant": "#069788","frameshift_variant": "#6034B3","stop_gained": "#FF5A00","stop_lost":"#FF9900"},
                legends:        legends,
                colorRegion:    "black"
                        };

             // Instantiate a plot
             MutsNeedlePlot = require("muts-needle-plot");
             p2 = new MutsNeedlePlot(plotConfig2);

        };

        $('#distribution_transcript2').on('change', function() {
            plot_needle_plot2(this.value);
            var data_table = $('#regions_detail_table2').DataTable();
            data_table.search(this.value);
            data_table.draw();
            if (data_table.$('tr', {"filter":"applied"}).length != 0) {
                $('#warning_datatable2').hide();
            } else {
                $('#warning_datatable2').show();
            }
        });

        var data_table = $('#regions_detail_table2').DataTable();
        data_table.search(gene_js2);
        data_table.draw();
        if (data_table.$('tr', {"filter":"applied"}).length != 0) {
            $('#warning_datatable2').hide();
        } else {
            $('#warning_datatable2').show();
        }

        $('#tabsr_tiers a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                // Force needle plot print
                if ($(this).tab()[0].hash == '#tier1_regions') {
                    plot_needle_plot(gene_js);
                } else {
                    plot_needle_plot2(gene_js2);
                }

            });
    });
    </script>

    <script>
        $(document).ready(function(){
             /* Do not allow to update the profile to avoid redirections */
             $("#navbar_user").hide();
        });

    </script>
{% endblock %}