{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="jumbotron">
                <h2>Terms of Use</h2>
                <p>Please read and accept the Terms of Use listed below before using OncoPaD.</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row border-top">
        <div class="col-md-1"></div>
        <div class="col-md-10 figures">
            <p class="pre">
<b>Universitat Pompeu Fabra (“UPF”</b>) provides website features and services free of charge only upon the condition that You accept all of the terms and conditions of use (<b>“Terms of Use”</b>) that govern your access to and use of the Web Services (as defined below).
Please read these Terms of Use carefully.
By accessing this Website, You agree to these Terms of Use. If You disagree with these Terms of Use or any part of these Terms of Use, You must not use our Website.
To obtain a license for any purpose other than the Permitted Purpose (as defined below), including for commercial purposes, please contact UPF at innovacio@upf.edu

<b>1. Definitions</b>
When starting with a capital letter, the following words and phrases have the meanings shown:

<b>Data</b> means any data and/or result obtained using the Web Services by You.
<b>Permitted Purpose</b> means academic and non-commercial purposes.
<b>You</b> means the entity or person who use the Web Services by creating an account.
<b>Web Services</b> means the set of software programs, interfaces, and webpages running on computers hosted at UPF’s sites or at third party hosting facilities accessible only via Internet.
<b>Website</b> means the website artwork, graphics and text developed for the website.

<b>2. Registration and accounts</b>
To access to the Web Services, You must create an account with a valid e-mail address. You may only create one account per e-mail address. You will be asked to choose a password.
You are responsible for all activities that occur under your account, regardless of whether the activities are undertaken by You, your employees or a third party, and You may be held liable for any losses arising out of such a failure. You will contact us immediately if You believe an unauthorized third party may be using your account.
You may only use our Website and the Web Services for the Permitted Purpose.
You also must not (a) republish, distribute or reproduce any portion of the Website; (b) show in public, sell, rent, or sub-license Data obtained from our Web Services; (c)	exploit Data obtained from our Web Services for any purpose other than the Permitted Purpose; (d) You agree not to reproduce, retransmit, distribute, disseminate, sell, publish, broadcast, or circulate the information owned by UPF.

<b>3. Copyright notice</b>
Subject to the express provisions of these Terms of Use UPF own and control all the copyright and other intellectual property rights in the Website and Web Services. Any rights not expressly granted herein are reserved.

<b>4. Confidentiality and proprietary.</b>
You agree and acknowledge that the Web Services are proprietary, valuable, and not generally known. You agree that You will maintain, through reasonable means, the confidentiality of the Web Services, and will not disseminate or allow unrestricted access. You may be held legally responsible for any infringement of intellectual property rights that is caused or encouraged by your failure to abide by these Terms of Use.

<b>5. Cancellation and suspension of account</b>
UPF may suspend your account; cancel your account; and/or edit your account details, at any time in our sole discretion without notice or explanation.
You may cancel your account at any time.

<b>6. Limited warranties</b>
We do not warrant or represent the completeness or accuracy of the information published on our Website;
UPF reserves complete and sole discretion with respect to the Web Services. UPF may, among other things withdraw, suspend or discontinue any functionality or feature of the Website and/or Web Services.
UPF is not responsible for transmission errors or corruption or compromise of data carried over local or interchange telecommunication carriers. UPF is not responsible for maintaining data arising from use of the Web Services.

<b>7. Limitations of liability</b>
To the extent that our Web Services are provided free of charge, UPF will not be liable to You for any direct, indirect, incidental, special, consequential, loss or damage of any nature.
UPF will not be liable to You in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.
UPF will not be responsible for any compensation, reimbursement or damages arising in connection with your inability to use the Web Services.

<b>8. Disclaimer.</b>
You acknowledge that your use of the Website and Web Services is at your sole risk, and that You assume full responsibility for all risk associated therewith. The Web Services are provided "AS IS" without any warranty of any kind, express or implied, including any warranty that the Web Services will be uninterrupted. To the fullest extent permissible under applicable law UPF hereby disclaim all warranties, express or implied, statutory or otherwise, including but not limited to warranties of merchantability, fitness for a particular purpose, satisfactory quality, non-infringement and freedom from computer virus strains. Without limiting the foregoing, UPF make no warranty as to the reliability, accuracy, timeliness, usefulness, adequacy, completeness or suitability of the Web Services, information received through the Web Services, and other information provided hereunder.

<b>9. Indemnity</b>
You agree to indemnify, defend and hold harmless UPF from and against all claims, losses, liabilities, expenses, damages and costs, including reasonable attorney's fees, arising out of or related to any breach of this Terms of Use, any negligent or wrongful action or omission by You related to your use of the Web Services, or any negligent or wrongful use of the Web Services by You or any other person accessing your account.

<b>10. Breaches of these Terms of Use</b>
Without prejudice to our other rights under these Terms of Use, if You breach these Terms of Use in any way, or if UPF reasonably suspect that You have breached these Terms of Use in any way, UPF may	temporarily suspend or permanently prohibit your access to our Website and/or commence legal action against You.
UPF reserves the right to seek all remedies available by law and in equity for any violation of these Terms of Use.

<b>11. Variation</b>
UPF reserves the right to change these Terms of Use, and the Web Services at any time, at its sole discretion, without notice.
Your continued use constitutes your agreement to be bound by any such revisions and You should therefore periodically visit this page of the Website and print the latest version of the Terms of Use for your records. All Terms of Use are automatically effective as soon as they are posted on the Website; if You do not agree to the revised Terms of Use, You must stop using our Website and Web Services.

<b>12. Assignment</b>
You hereby agree that UPF may assign, transfer, sub-contract or otherwise deal with rights and/or obligations under these Terms of Use.

<b>13. Severability</b>
If a provision of these Terms of Use is determined by any court or other competent authority to be unlawful and/or unenforceable, such invalidity or unenforceability shall not affect the validity or enforceability of the remaining provisions.
	If any unlawful and/or unenforceable provision of these Terms of Use would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.

<b>14. Waiver</b>
Failure to exercise or delay in exercising any right hereunder, or failure to insist upon or enforce strict performance of any provision of this Terms of Use by UPF, shall not be considered waiver thereof, which can only be made by UPF in writing. No single waiver shall be considered a continuing or permanent waiver.

<b>15. Third party rights</b>
These Terms of Use do not create any third party beneficiary rights in any individual or entity that is not a party to these Terms of Use.

<b>16. Entire agreement</b>
These Terms of Use shall constitute the entire agreement between You and UPF in relation to your use of our Web Services through our Website and shall supersede all previous agreements between You and UPF.

<b>17. Notice</b>
UPF may provide any notice to You under these Terms of Use by sending a message to the e-mail address associated with your account. You will be deemed to have received any e-mail sent to the e-mail address associated with your account when UPF send the e-mail, whether or not You actually receive the e-mail.

<b>18. Law and jurisdiction</b>
These Terms of Use shall be governed by and construed in accordance with Spanish law.
Any disputes relating to these Terms of Use shall be subject to the exclusive jurisdiction of the courts of Spain.

© 2016 by Universitat Pompeu Fabra. All rights reserved.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}
