.d3-tip {
    line-height: 1;
    font-size: 11px;
    color: black;
    font-weight: bold;
    padding: 10px;
    background: rgba(190, 190, 190, 0.9);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 6px;
}

.d3-tip > .additional {

    font-color: darkgrey;
    font-weight: normal;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}