
html {
       overflow-y: scroll;
}

body {
    position: relative;
    background-image: url("../images/background_dna.png");
}

.nav-pills>li>a {
    border: 1px solid #ddd;
    color: #777;
    margin-right: 7px;
}

.nav-pills>li.active>a {
    border: 1px solid #1e366c;
}

/*  for large displays (uncollapsed) */
@media only screen and (min-width: 768px) {

    .navbar.navbar-intogen {
       background-image: linear-gradient(to bottom, #b4b4b4 0, #b4b4b4 100%);
       color: white;
        border: #989898;
        border-radius: 0%;
        box-shadow: none;
    }

    .navbar-intogen .navbar-nav>.active>a, .navbar-intogen .navbar-nav>.active>a:focus, .navbar-intogen .navbar-nav>.active>a:hover
    {
    color: white;
    background-image: linear-gradient(to bottom, #b4b4b4 0,  #b4b4b4 100%);
    }

    .navbar-intogen .navbar-nav>li>a {
            color: white;
    }
}

/*  for small displays (collapsed) */

.navbar-intogen .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-header.navbar-intogen {
   background-image: linear-gradient(to bottom, #b4b4b4 0,#b4b4b4 100%);
}



a.navbar-logo {
    float: left;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    margin-right: 50px;
}


.navbar-box {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #989898;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0px;
}

.navbar-box:hover {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: left;
    transition: all 0.3s;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    background-color: #dbdbdb;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
}



.navbar-box-blue {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #213980;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0px;
}

.navbar-box-blue:hover {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    background-color: #2f4baa;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0px;
}



.navbar-box-gray {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #989898;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-box-gray:hover {

    height: 30px;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    background-color: #dbdbdb;

}

footer {
    border-top: 0.1vw solid #E5E5E5;
    margin-top: 5vw;
    padding: 1.5vw 0 3.6vw;

}

div.border-top {
    border-top: 0.1rem solid #e5e5e5;
}

div.border-left {
    border-left: 0.2rem solid #e5e5e5;
}

input.search {
    border-radius: 3rem;
    font-size: 1.4rem;
    border: 0.2rem solid #ccc;
    margin: 1rem auto;
    outline: #1693c0;
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 0;
    text-indent: 3rem;
    width: 100%;
    height: 5rem;
}

.tt-dropdown-menu {
    width: 93%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: white;
    border-color: #FF7634;
    border: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,118,52,.6);
    padding: 1vw;
}

.tt-suggestion:hover {
    background-color: lightgrey;
}


.twitter-typeahead {
   width: 100%;
}

text {
    cursor: pointer;
}

input:focus {
    border-color: #FF7634;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,118,52,.6);
}

ul.selection span.badge {
    font-size: 2vw;
    margin-top: 1.1vmax;
    margin-right: 1.1vmax;
}

ul.selection {
    margin-left: -1vw;
    list-style: none;
    height: 3vw;
}

ul.selection li {
    float: left;
    margin-right: 0.4vw;
}

ul.selection li a {
    color: #FFFFFF;
}

.selection-deduced {
    opacity:0.55;
}

ul.reports-nav li {
    display: none;
}

ul.reports-nav li.active {
    display: block;
}

#reports-nav a {
    margin: 0px;
    padding: 0px;
}

#reports-nav span.glyphicon:hover {
    color: #444;
    cursor: pointer;
}

#reports-nav span.glyphicon {
    top: 2px;
	color: #FF7634;

}

#reports-nav {
	float: right;
}

#reports-nav span.badge-report {
    font-weight: bold;
	color: #FF7634;
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: normal;
}

#reports-nav ul.nav > li.active > a:hover, #reports-nav ul.nav > li.active > a:focus {
    text-decoration: none;
    background-color: transparent;
    cursor: default;
}



.f-selection {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 0.1rem solid #E5E5E5;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 8px solid #FF7634;
    box-shadow: 0px 3px 5px #eee;
    background: url('../images/logo-mini.png') 10px 40% no-repeat;
    background-size: auto 75%;
}

.f-selection a.logo {
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
}

a.logo {
    display: none;
}

a.logo img {
    height: 4vw;
}

.selection-container {
    background-color: white;
    padding-bottom: 8px;
    padding-top: 0px;
}

div.figures {
    margin-top: 2.5vw;
}
div.figures div.panel {
    margin: 0vw 1vw 2.5vw 0vw;
}

h3 {
    font-weight: bold;
}

.panel-home {
  border-color: #333333;
     background: rgba(255, 255, 255, 0.76);
}


.panel-design {
  border-color: #333333;
    background: rgba(255, 255, 255, 0.76);
}

.panel-home > .panel-heading {
    color: #fff;
    background-color: #888;
    border-bottom: 1px solid #333333;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    background-color:white;
}

.about h3 {
    color: #fff;
}

/* SIGNALS */
.badge-signal {
    padding: 3px;
    margin: 2px;
}

.badge-details {
    color: #1a2e6e;
    background-color: rgba(38, 71, 170, 0.21);
}

.badge-details > a {
    color: #1a2e6e !important;
}


.badge-report {
    color: grey;
    background-color: rgba(255,255,255,0);
}
/* badge link */

.badge > a {
    color: white;
}

.hierarchical-pie .arc-cost {
  fill: #555;
  font-size: 13px;
  text-anchor: middle;
}
.hierarchical-pie .arc-title {
  fill: #222;
  font-size: 20px;
  text-shadow: 0 0 2px rgba(0,0,0,.75);
}
.hierarchical-pie .arc-percent {
  font-size: 28px;
  fill: #333;
  text-anchor: middle;
}

.hierarchical-pie g.cake .arc path {
  cursor: pointer;
}
.hierarchical-pie g.cake .arc path.pie-leaf { cursor: auto; }

.chart-navigator {
  display: none;
}
.chart-navigator #pie-navigator { float: left; }
.chart-navigator .breadcrumb {
  margin: 0 0 0 60px;
  background: transparent;
  padding: 4px 10px;
}
.table-legend .cat-color {
  width: 10px;
  height: 10px;
  display: block;
  margin: 4px 0 3px;
  border: 1px solid rgba(50,50,50,.8);
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  border-radius: 2px;
}

.table-legend td.cost {
  white-space: nowrap;
}

.table-legend td.color-cell {
  padding: 4px 2px;
}

.table-legend td.hovered {
  background: #ededed;
}

.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #fff;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}



.boxprogress {
     text-align: center;
     min-height: 450px;
     background-color: white;
}

/* The ghost, nudged to maintain perfect centering */
.boxprogress:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.boxprogress:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height:60px;
    width:60px;
    margin: 175px auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}

div.boxprogress div {
    display: none;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

.cd-top {
  display: inline-block;
  height: 15px;
  width: 15px;
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(26, 46, 110, 0.6) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #1a2e6e;
  opacity: 1;
}
@media (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

div.summary {
    padding: 25px 15px;
    margin: 20px 10px;
    font-size: 16px;
    text-align: justify;
}


div.panel div.toolbar {
    float: right;
    padding-left: 5px;
}

@media only screen and (max-width: 1024px) {

    .nav.nav-pills li, div.toolbar span.glyphicon, #distribution_transcript {
        /*line-height: 1vmin;*/
        font-size: 10px;
    }

    .nav.nav-pills li a {
        padding: 0.7vw 0.5vw;
    }

}

div.caption {
    font-size: 12px;
}

iframe {
    width: 100%;
    height: 1000px;
    border: 0px;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
    }
    div.panel-home {
        page-break-inside: avoid;
    }
    a[href]:after {
        content: none !important;
    }

    .tab-content>.tab-pane {
        display: block;
        visibility: visible;
    }

    .nav {
        display: none !important;
    }
}

/*
 * CONTAINER
 * TableTools container element and styles applying to all components
 */
div.DTTT_container {
	position: relative;
	float: right;
	margin-bottom: 1em;
}


.toolbar-list {
    display: inline;
}

.toolbar-list li {
    list-style-type: none;
    display: inline;
 }

button.DTTT_button,
div.DTTT_button,
a.DTTT_button,
#distribution_transcript {
	position: relative;
	display: inline-block;
	margin-right: 3px;
	padding: 5px 8px;
	border: 1px solid #999;
	cursor: pointer;
	*cursor: hand;
	color: black !important;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;

	-webkit-box-shadow: 1px 1px 3px #ccc;
	   -moz-box-shadow: 1px 1px 3px #ccc;
	    -ms-box-shadow: 1px 1px 3px #ccc;
	     -o-box-shadow: 1px 1px 3px #ccc;
	        box-shadow: 1px 1px 3px #ccc;

	/* Generated by http://www.colorzilla.com/gradient-editor/ */
	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

@media only screen and (max-width: 1024px) {

    button.DTTT_button,
    div.DTTT_button,
    a.DTTT_button,
    #distribution_transcript {
            	margin-right: 0.1vh;
                padding: 0.3vmin 0.8vmin;
                border: 1px solid #999;
                min-width: 20px;
                text-align: center;
    }
}

/* Buttons are cunning border-box sizing - we can't just use that for A and DIV due to IE6/7 */
button.DTTT_button {
	height: 30px;
	padding: 3px 8px;
}

.DTTT_button embed {
	outline: none;
}

button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover {
	border: 1px solid #666;
	text-decoration: none !important;

	-webkit-box-shadow: 1px 1px 3px #999;
	   -moz-box-shadow: 1px 1px 3px #999;
	    -ms-box-shadow: 1px 1px 3px #999;
	     -o-box-shadow: 1px 1px 3px #999;
	        box-shadow: 1px 1px 3px #999;

	background: #f3f3f3; /* Old browsers */
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

button.DTTT_button:focus,
div.DTTT_button:focus,
a.DTTT_button:focus {
	border: 1px solid #426c9e;
	text-shadow: 0 1px 0 #c4def1;
	outline: none;

	background-color: #a3d0ef 100%;
	background-image: -webkit-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
	background-image:    -moz-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
	background-image:     -ms-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
	background-image:      -o-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
	background-image:         linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a3d0ef', EndColorStr='#a3d0ef');
}

button.DTTT_button:active,
div.DTTT_button:active,
a.DTTT_button:active {
	-webkit-box-shadow: inset 1px 1px 3px #999999;
	-moz-box-shadow: inset 1px 1px 3px #999999;
	box-shadow: inset 1px 1px 3px #999999;
}

button.DTTT_disabled,
div.DTTT_disabled,
a.DTTT_disabled {
	color: #999;
	border: 1px solid #d0d0d0;

	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

button.DTTT_button_collection span {
	padding-right: 17px;
	background: url(../images/collection.png) no-repeat center right;
}

button.DTTT_button_collection:hover span {
	padding-right: 17px;
	background: #f0f0f0 url(../images/collection_hover.png) no-repeat center right;
}


/*
 * SELECTING
 * Row selection styles
 */
table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

table.dataTable tr.DTTT_selected.odd {
	background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.odd td.sorting_1 {
	background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.odd td.sorting_2 {
	background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.odd td.sorting_3 {
	background-color: #9FAFD1;
}


table.dataTable tr.DTTT_selected.even {
	background-color: #B0BED9;
}

table.dataTable tr.DTTT_selected.even td.sorting_1 {
	background-color: #B0BED9;
}

table.dataTable tr.DTTT_selected.even td.sorting_2 {
	background-color: #B0BED9;
}

table.dataTable tr.DTTT_selected.even td.sorting_3 {
	background-color: #B0BED9;
}


/*
 * COLLECTIONS
 * Drop down list (collection) styles
 */

div.DTTT_collection {
	width: 150px;
	padding: 8px 8px 4px 8px;
	border: 1px solid #ccc;
	border: 1px solid rgba( 0, 0, 0, 0.4 );
	background-color: #f3f3f3;
	background-color: rgba( 255, 255, 255, 0.3 );
	overflow: hidden;
	z-index: 2002;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;

	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	    -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	     -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

div.DTTT_collection_background {
	background: transparent url(../images/background.png) repeat top left;
	z-index: 2001;
}

div.DTTT_collection button.DTTT_button,
div.DTTT_collection div.DTTT_button,
div.DTTT_collection a.DTTT_button {
	position: relative;
	left: 0;
	right: 0;

	display: block;
	float: none;
	margin-bottom: 4px;

	-webkit-box-shadow: 1px 1px 3px #999;
	   -moz-box-shadow: 1px 1px 3px #999;
	    -ms-box-shadow: 1px 1px 3px #999;
	     -o-box-shadow: 1px 1px 3px #999;
	        box-shadow: 1px 1px 3px #999;
}


/*
 * PRINTING
 * Print display styles
 */

.DTTT_print_info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	color: #333;
	padding: 10px 30px;

	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

	opacity: 0.95;

	border: 1px solid black;
	border: 1px solid rgba(0, 0, 0, 0.5);

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;

	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	     -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}


.example-search {
    margin-left: 30px;
    margin-top: 10px;
}

.intogen-logo {
    margin-bottom: 15px;
}

.alert-share {
    clear: right;
    padding: 8px 15px 8px 15px;
}

.toolbar .DTTT_button, .alert-share .DTTT_button {
    margin-bottom: 0.3vh;
}

/* Report popover fullscreen */

#fullscreen-dropback.fullreport #distribution_plot {
    max-height: 2000px;
}

#frequency_plot {
    width: 100%;
}

#fullscreen-dropback.fullreport #distribution_plot,
#fullscreen-dropback.fullreport #frequency_plot {
    max-height: 2000px;
}

#fullscreen-dropback.fullreport {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
}

#fullscreen-dropback.fullreport .panel, #fullscreen-dropback.fullreport .summary {
    display: none;
}

#fullscreen-dropback .border-top {
    border: 0px;
}

#fullscreen-dropback.fullreport .panel.fulltarget {
    display: block;
    position: absolute;
    width: 100%;
    top: -30px;
    left: 5px;
    right: 0px;
    bottom: 0px;
   /* height: 100%;*/
}

@media only screen and (min-width: 1024px) {
    #fullscreen-dropback.fullreport .panel.fulltarget {
        display: block;
        position: absolute;
        width: 95%;
        top: -30px;
        left: 2.5%;
        right: 2.5%;
        bottom: 0px;
        /*height: 100%;*/
    }

}

#fullscreen-dropback.fullreport #figures-col {
    margin-left: 0px;
    width: 100%;
    position: absolute;
}

#fullscreen-dropback.fullreport .hidden-full {
    display: none
}

#fullscreen-dropback.smallreport .hidden-small {
    display: none
}

/*http://stackoverflow.com/a/12631326/551694*/
svg { max-height: 100%; }

#cookie-bar {background:#111111; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px; white-space: nowrap;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}

#uvTab { display: none; }
@media (min-width: 1024px) {
 #uvTab { display: block; }
}

.pre {
    white-space: pre-line;
    text-align: justify;
    background-color: #eee;
    padding: 50px 50px;
}

/*Oncopad*/

#MUTcoverage .slider-selection{
  background: #BABABA;
}
#MUTcoverage{
    width: 300px;
}
#CDSprop .slider-selection {
    background: #BABABA;
}
#CDSprop {
    width: 300px;
}
.slider .tooltip.top {
  margin-top: -5px;
}
.white, .white a {
  color: #fff;
}

.mybutton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.mybutton:hover {
    text-decoration: none;
}
.mybutton:active {
    position: relative;
    top: 1px;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.graypale {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.graypale:hover {
    background: #616161;
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.graypale:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}


.blue2{
    color: #ffffff;
    border: solid 1px #1e366c;
    background: #213980;
    background: -webkit-gradient(linear, left top, left bottom, from(#2647aa), to(#1a2e6e));
    background: -moz-linear-gradient(top, #2647aa, #1a2e6e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2647aa', endColorstr='#1a2e6e');
}
.blue2:hover {
    background: #1e366c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f3a8a), to(#172962));
    background: -moz-linear-gradient(top,  #2647aa,  #2647aa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f3a8a', endColorstr='#172962');
}
.blue2:active {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2647aa), to(#1a2e6e));
    background: -moz-linear-gradient(top,  #2647aa,  #1a2e6e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2647aa', endColorstr='#1a2e6e');
}

.tooltip-inner {
      max-width: 500px;
      min-width: 350px;
    }

table.gridtable {
    -webkit-print-color-adjust: exact;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    bgcolor:"#FF0000";
    text-align: center;
     -webkit-print-color-adjust: exact;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    -webkit-print-color-adjust: exact;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader.gif') 50% 50% no-repeat rgba(219,219,239,0.4);
}


.display-box {
  background-color:#fff;
  box-shadow:3px 3px 5px 5px #ddd;
  border-radius:10px;
  padding:3% 4% 3%;
  margin-top:30px;
  margin-bottom: 20px;
}


.user_profile
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

form[class~='profile_form'] {
    background-color:#fff;
    box-shadow:3px 3px 5px 5px #ddd;
    border-radius:10px;
    padding:3% 4% 3%;
    margin-bottom: 20px;
    margin-top: 15px;
}
